{
  "extends": "stylelint-config-htmlacademy",

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}],
    "font-family-no-missing-generic-family-keyword": null,
    "value-keyword-case": ["lower", {ignoreProperties: ["$font-family"]}]
  }
}
