<footer class="main-footer">
  <div class="main-container">
    <div class="container">
      <div class="footer__wrap">
        <div class="footer__item">
          <a href="" >
            <img src="assets/img/svg/logo-footer.svg" alt="Бизнес Светлогорск">
          </a>
          <div class="footer__cont">
          <a href="tel:+375 (29) 33-63-777">
            <img src="assets/img/svg/phone.svg">
            <p>+375 (29) 33-63-777</p>
          </a>
            <a href="mailto:sv-biznes@mail.ru">
              <img src="assets/img/svg/mail.svg">
              <p>sv-biznes@mail.ru</p>
            </a>
          </div>
          <div class="footer__soc">
            <a href="">
              <img src="assets/img/svg/vk.svg" alt="Вконтакте">
            </a>
            <a href="">
              <img src="assets/img/svg/facebook.svg" alt="facebook">
            </a>
            <a href="">
            <img src="assets/img/svg/inst.svg" alt="instagram">
            </a>
            <a href="">
              <img src="assets/img/svg/ok.svg" alt="Однокласники">
            </a>

          </div>
        </div>
        <div class="footer__list">
          <a href="">
            <p>Каталог</p>
          </a>
          <ul>
            <li>
              <a href="">Организации</a>
            </li>
            <li>
              <a href="">Услуги</a>
            </li>
          </ul>
          <a href="">
            <p>Объявления</p>
          </a>
          <a href="">
            <p>Работа</p>
          </a>
        </div>
        <div class="footer__list">
          <a href="">
            <p>Недвижимость</p>
          </a>
          <a href="">
            <p>Новости</p>
          </a>
          <a href="">
            <p>Реклама</p>
          </a>
          <a href="">
            <p>О нас</p>
          </a>
        </div>
        <div class="footer__list">
          <a href="">
            <p>Путеводитель</p>
          </a>
          <ul>
            <li>
              <a href="">Афиша мероприятий</a>
            </li>
            <li>
              <a href="">Достопримечательности</a>
            </li>
            <li>
              <a href="">Расписание транспорта</a>
            </li>
          </ul>
        </div>
        <div class="footer__form">
          <p>Обратная связь</p>
          <form>
            <input type="text" placeholder="Ваше имя">
            <input type="tel" placeholder="Номер телефона">
            <button class="button">Перезвонить мне</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
