*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: auto;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: $Black;
  font-family: $Mon;
}


body {
  min-width: 320px;
  min-height: 100vh;
  //font-family: $Geometria;
  font-size: 16px;
  line-height: 20px;
  //font-weight: $Normal;
  //color: $Gray;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

//.container {
//  max-width: $container-max-width;
//  margin: 0 auto;
//  padding: $desktop-padding;
//
//  @media (max-width: $tablet-width) {
//    padding: $tablet-padding;
//  }
//}
p, li, a, span, label{
  font-size: 14px;
  line-height: 20px;
  color: #6A6A6A;
  font-family: $Mon;
}
.main-container{
  background: #E5E5E5;
}
.container{
  max-width: 1501px;
  margin: 0 auto;
  position: relative;
}
ul, ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container-main{
  max-width: 1501px;
  margin: 0 auto;
  position: relative;
  padding: 0 40px;
  background-color: #FFFFFF;
}
h1{
  color: $Black;
  font-family: $MonBold;
  font-size: 32px;
  line-height: 26px;
  margin: 0;
}
h2{
  font-size: 30px;
  line-height: 26px;
  color: $Black;
  font-family: $MonBold;
}
button{
  border: none;
  outline: none;
}
.button{
  background: $blue;
  display: flex;

  border-radius: 5px;
  align-items: center;
  padding: 10px 25px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  font-family: $MonBold;
  outline: none;
  border: none;
}
.breadcrumbs ul{
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  li{
    color: #ACACAC;
  }
  a{
    color: $green;
  }
  a::after{
    content: url(../img/svg/arrow-gr.svg);
    position: relative;
    padding: 0 9px;
  }
}
