// screen-resolution
$container-max-width: 1200px;
$desktop-width-middle: 1440px;
$desktop-width: 1200px;
$tablet-width: 1024px;
$mobile-width: 767px;
$mobile-width-middle: 480px;
$mobile-width-min: 375px;

//padding
$desktop-padding: 0 30px;
$tablet-padding: 0 15px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//fonts
$Mon: "Montserrat-Regular", arial, sans-serif;
$MonMed: "Montserrat-Medium", arial, sans-serif;
$MonBold: "Montserrat-Bold", arial, sans-serif;
$Geometria-Bold: "Geometria-Bold", arial, sans-serif;

//font-weight
$Normal: 400;
$Bold: 700;

//colors
$Black: #39424A;
$White: #ffffff;
$Gray: #343538;
$White-gray: #f2f2f2;
$Dark-red: #ce0000;
$Orange: #e25f27;
$blue: linear-gradient(90.09deg, #00B191 0.12%, #00CABE 109.78%);
$green: #00B191;
