.addAnOrganization h1 {
  margin-top: 40px;
}

.addAnOrganization__select {
  margin-top: 20px;
  background: #F8F8F8;
}

.addAnOrganization__select-wrapper {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment-method {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-method__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.payment-method__rate {
  font-size: 16px;
  line-height: 26px;
  color: #00B79C;
  position: relative;
  padding-right: 16px;
  cursor: pointer;
}

.payment-method__rate::after {
  content: url("../img/svg/arrow-green-down.svg");
  width: 5px;
  height: 10px;
  position: absolute;
  right: 0;
}

.radio-button {
  margin-right: 30px;
}

.radio-button label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio-button label span {
  font-size: 16px;
  line-height: 16px;
  color: #6A6A6A;
}

.radio-button__real {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.radio-button__real:checked + .radio-button__custom::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.radio-button__custom {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: transparent;
  border: 1px solid #ACACAC;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 7px;
}

.radio-button__custom::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #00B79C;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.radio-button__real:checked + .radio-button__custom {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 1px solid #00B191;
}

.radio-button__real:checked ~ .radio-button__choice {
  color: #00B191;
}

.addAnOrganization-choise {
  margin-top: 20px;
  display: none;
}

.addAnOrganization-choise__service-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.addAnOrganization-choise__table-inner {
  width: 60%;
}

.addAnOrganization-choise th {
  font-size: 14px;
  font-weight: bold;
}

.addAnOrganization-choise td {
  font-size: 12px;
}

.addAnOrganization-choise__rate {
  margin-top: 40px;
}

.addAnOrganization-choise__service-image {
  width: 37.22%;
}

.addAnOrganization-choise__service-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.dash {
  width: 14px;
  color: #00B191;
}
/*# sourceMappingURL=addAnOrganization.css.map */