
.chapter{
    h1{
        margin-top: 40px;
    }
    &__select{
        margin-top: 20px;
        background: #F8F8F8;
    }
    &__select-wrapper{
        padding: 15px 0;
        display: flex;
    }
    
    .adv__item__wrap{
        display: none;
        &--active{
            display: grid;
        }
        margin-left: 0;
        grid-gap: 0;
        grid-column-gap:2.08vw;
        thead tr{
            line-height: 26px;
        }
    }
    
}



.payment-method{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title{
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        color: #39424A;
    }
    &__rate{
        font-size: 16px;
        line-height: 26px;
        color: #00B79C;
        padding-right: 16px;
        cursor: pointer;
        display: flex; 
        align-items:baseline;
    }
}

.arow-down{
    display: block;
    margin-left: 15px;
    transition: 0.3s;
    &--active{
        transform: rotate(180deg);
    }
}

.radio-button{
    margin-right: 30px;

    label{
        display: flex;
        align-items: center;
        span{
            font-size: 16px;
            line-height: 16px;
            color: #6A6A6A;
        }
    }
    &__real{
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        z-index: -1;
        transition: all 1s ease-out;

        &:checked + .radio-button__custom::before {
            transform: translate(-50%, -50%) scale(1);
        }
        &:checked + .radio-button__custom{
            transform: scale(1.2);
            border: 1px solid #00B191;
        }
        
        &:checked ~ .radio-button__choice {
            color: #00B191;
        }
    }
    &__custom{
        position: relative;             
        display: inline-block;
        width: 18px;
        height: 18px;
        background: transparent;
        border: 1px solid #ACACAC;
        border-radius: 50%;
        vertical-align: text-top;
        margin-right: 7px;
        &::before{
            content: "";

            display: inline-block;
            width: 8px;
            height: 8px;
            background: #00B79C;
            border-radius: 50%;
        
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
          
            transition: 0.2s ease-in;
        }
    }
    &__choice--crown{
        display: flex;
        img{
            margin-left: 7px;
        }
    }
}

.dash{
    width: 14px;
    color: #00B191;
}

.checkbox-button{
    display: flex;

    label{
        display: flex;
        align-items: center;
        margin-right: 25px;
        span{
            font-size: 12px;
            line-height: 18px;
            color: #6A6A6A;
        }
    }
    &__choice{
        display: flex;
        img{
            margin-right: 4px;
        }
    }
    &__real{
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        z-index: -1;
        transition: all 1s ease-out;

        &:checked + .checkbox-button__custom::before {
            transform: translate(-50%, -50%);
        }

        &:checked + .checkbox-button__custom{
            border: 1px solid #00B191;
            border-radius: 2px;
        }
        
        &:checked ~ .checkbox-button__choice {
            color: #00B191;
        }
    }
    &__custom{
        position: relative;             
        display: inline-block;
        width: 18px;
        height: 18px;
        background: transparent;
        border: 1px solid #ACACAC;
        vertical-align: text-top;
        margin-right: 7px;
        border-radius: 2px;
        &::before{
            content: url('../img/svg/checked.svg');

            display: block;
            width: 10px;
            height: 9px;
        
            position: absolute;
            left: 40%;
            top: 25%;
            transform: translate(-50%, -50%) scale(0);
          
            transition: 0.2s ease-in;
        }
    }


}


.upload-file{
    &__wrapper{
    margin-top: 5px;
    position: relative;
    }
    &__input{
        opacity: 0;
        position: absolute;
        z-index: -1;
        overflow: hidden;
        width: 0.4px;
        height: 0.4px;
    }
    &__label{
        display: flex;
        align-items: center;
        width: 100%;
        &--photo{
            align-items: flex-start;
        }

        svg{
            margin-right: 6px;
            margin-left: 21px;
            min-width: 19px;
            height: 19px;
        }
    }
    &__text-form-inner{
        width: 100%;
    }
    &__text-form{
        margin-top: 5px;
        width: 100%;
        height: 44px;
        padding: 13px;
        border: 1px solid #D2D2D2;
        font-size: 14px;
        line-height: 18px;
        color: #D2D2D2;
        border-radius: 4px;
        background: transparent;
        display: block;
        &--photo{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &--folder{
            display: flex;
            margin-top: 18px;
        }
    }
}

.time-choise{
    &__card:not(:first-of-type){
        margin-top: 10px;
    }

      &__inner{
        margin-top: 14px;
        margin-bottom: 17px;
        padding-left: 20px;
      }
      &__day-inner{
          display: flex;
      }
      &__dayofweek{
          display: inline-block;
          width: 28px;
          font-size: 16px;
          line-height: 26px;
          font-weight: bold;
          color: #6A6A6A;

          margin-right: 23px;
      }

}

.daychoise{
    display: flex;
    &__time{
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 18px;
        color: #ACACAC;
        &:last-of-type{
            margin-left: 22px;
        }
    }
    &__time-input{
        margin-left: 9px;
        width: 55px;
        height: 30px;
    }
}

.dinnertime{
    margin-bottom: 17px;
    &__inner{
        display: flex;
        align-items: center;
    }
    &__dinner{
        display: inline-block;
        font-size: 16px;
        line-height: 26px;
        font-weight: bold;
        color: #6A6A6A;
    }
    &__timechoise{
        margin-left: 25px;
    }
    &__check{
        margin-left: 24px;
    }
    &__check{
        display: flex;
    }
}

.form{
    margin-top: 20px;
    margin-bottom: 49px;
    &__inner{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "form__contacts-up form__map-inner" "form__contacts-down form__map-inner";
    }
    &__contacts-up{
        grid-area: form__contacts-up;
    }

    &__title{
        font-size: 14px;
        line-height: 20px;
        color: #00B79C;
        margin-bottom: 10px;
    }
    &__card:not(:first-of-type){
        margin-top: 20px;
    }
    &__numbers{
        margin: 10px 0;
        display: flex;
        &--bottom:not(:last-of-type){
            margin-bottom: 5px;
        }
    }
    &__numberstext{
        margin-right: 21px;
    }
    fieldset{
        border: 0 none;
        padding: 0;
    }
    legend{
        margin-bottom: 7px;
        font-family: $MonBold;
        font-size: 16px;
        line-height: 20px;
        color: #6A6A6A;
    }
    input,
    select,
    textarea{
        width: 100%;
        padding: 13px;
        border: 1px solid #D2D2D2;
        font-size: 14px;
        line-height: 18px;
        color: #D2D2D2;
        border-radius: 4px;
        background: transparent;
        &:focus{
            border: 1px solid #ACACAC;
            color: #ACACAC;
        }
    }

    select { 
        appearance: none;
        overflow: hidden;
        background: url('../img/svg/arrow-grey.svg') no-repeat 97%;
        background-size: 10px;
    }

    &__add-number{
        margin-top: 10px;  
        display: flex;
        align-items: center;
    }
    &__add-numberButton{
        font-size: 14px;
        line-height: 14px;
        color: #00B79C;
        position: relative;
        padding-right: 32px;
        &::after{
            content: url('../img/svg/plus.svg');
            width: 22px;
            height: 22px;
            position: absolute;
            top: -3px;
            right: 0;
        }
    }
    &__socials{
        display: flex;
        align-items: center;
        margin-top: 9px;
        &:first-of-type{
            margin-top: 0;
        }
        span{
            margin-right: 16px;
            width: 34px;
            height: 34px;
        }

    }

    &__map-inner{
        margin-left: 64px;
        grid-area: form__map-inner;
    }

    &__map-title{
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        color: #6A6A6A;
        margin-bottom: 3px;
    }
    &__map-text{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 14px;
    }

    &__contacts-down{
        grid-area: form__contacts-down;

        margin-top: 20px;
    }

    &__button{
        display: flex;
        justify-content: center;
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
        margin-top: 30px;
    }

    .current-count{
        color: $green;
        &__wrapper{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    
    .check-text{
        &--mini{
            height: 113px;
        }
        &--maxy{
            height: 394px;
        }
    }
}


@media (max-width: 1400px) {
    .dinnertime{
        &__inner{
            flex-wrap: wrap;
        }
        &__check{
            margin-left: 0;
            width: 100%;
            margin-top: 20px;
        }

    }
}

@media (max-width: 1300px){  //потому что длинные выражения в таблице, больше, чем на странице рекламы и они не помещаются
    .chapter{
        .adv__item__wrap--active{
            display: flex;
            flex-direction: column-reverse;
        }
        .adv__img--active{
            margin-bottom: 40px;
        }

    }
}

@media (max-width: 1200px){
    .form{
        &__numbers{
            flex-direction: column;
        }
        .checkbox-button{
            margin-top: 10px;
        }
        button{
            padding: 10px 20px;
        }
    }
}

@media (max-width: 992px){

    .form{
        &__inner{
            display: block;
        }
        &__map-inner{
            margin-left: 0;
            margin-top: 20px;
        }
        &__contacts-up{
            width: 440px;
        }
        &__contacts-down{
            width: 440px;
        }

    }

    .chapter{
        h1{
            font-size: 30px;
        }

    }
}

@media (max-width: 768px){
    .chapter{
        margin-top: 0;
        .adv__item__wrap{
            thead tr{
                font-size: 14px;
            }
            tbody tr{
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 576px){
    .payment-method{
        &__title{
            font-size: 16px;
        }
    }
    .choise-adv{
        &__title{
            font-size: 16px;
            margin-top: 20px;
        }
        & .orgn__wrap{
            padding-bottom: 0;
        }
    }

}

@media (max-width: 450px){
    .chapter{
        h1{
            font-size: 20px;
        }
        &__select{
            margin-top: 15px;
            }
        &__select-wrapper{
            display: block;
        }
    }
    .form{
        &__contacts-up{
            width: 100%;
        }
        &__contacts-down{
            width: 100%;
        }
        &.form-adv{
            margin-top: 20px;
        }
    }
    .payment-method{
        margin-top: 15px;
        display: block;
        &__rate{
            margin-top: 14px;
        }
    }


    .table-calling:not(:last-of-type){
        margin-bottom: 10px;
    }


    .form{
        margin-top: 55px;
        &__numbers{
            flex-wrap: wrap;
        }
        &__add-number{
            margin-top: 16px;
        }
    }

    .checkbox-button{
        width: 100%;
        margin-top: 10px;
    }

    .upload-file{
        &__label{
        flex-wrap: wrap;
        justify-content: flex-end;
        }
        &__text-form{
            margin-bottom: 5px;
        }
        &__text-form--folder{
            margin-top: 5px;
        }
    }

    .dinnertime__check{
        display: flex;
        justify-content: center;
    }
    input[type="time"]::-webkit-calendar-picker-indicator {
        background: none;
    }
    .time-choise__card{
        width: 100%;
    }

}