.adv__item__wrap{
  display: grid;
  column-gap: 20px;
  grid-template-columns: auto 1fr;
  margin-left: -25px;
margin-top: 22px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
tbody tr:nth-child(2n) {
  background: #F0F6FC;
}
tbody tr:nth-child(2n-1) {
  background: #FFFFFF;
}
thead tr{
  background: $green;
  color: #FFFFFF;
  font-family: $MonBold;
  line-height: 12px;
  p{
    color: #FFFFFF;
    font-family: $MonBold;
    line-height: 12px;
  }
  th div{
    display: flex;
    padding: 7px 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  th:first-child div{
    padding-left: 27px;
    justify-content: start;
    text-align: left;

  }
  th:last-child div{
    padding-right: 27px;
  }
  th:first-child{
    width: 50%;
  }
  img{
    margin-right: 12px;

  }
}

td{
 div{
   display: flex;
   padding: 7px 5px;
   justify-content: center;
   font-family: $MonBold;
 }
  &:first-child div{
    padding-left: 27px;
    justify-content: start;
    font-family: $Mon;
  }
  &:last-child div{
    padding-right: 27px;
  }
}
tbody tr:last-child{
  border-bottom: 2px solid $green;
}

.adv__item__wrap > div{
  display: grid;
  align-content: start;
  row-gap: 40px;
}

.adv ol{
  li{
    margin-bottom: 30px;
    margin-left: 25px;
    p:first-child{
      font-size: 22px;
      line-height: 26px;
      color: $Black;
      font-family: $MonBold;

    }
    &::marker{
      font-size: 22px;
      line-height: 26px;
      color: $Black;
      font-family: $MonBold;
    }
    > p:nth-child(n+2){
      margin-left: -25px;
      padding-top: 20px;
    }
  }


}
.adv h1{
  margin: 25px 0;
}
.adv__button{
  display: none;
}
@media (max-width: 1300px){
  thead tr th:first-child {
    width: 40%;
  }
}
@media (max-width: 1199px){
  .adv__button{
    display: flex;
    margin-top: 15px;
    p{
      text-decoration-line: underline;
    }
    img{
      margin-right: 10px;
    }
  }
  .adv__img{
    display: none;
    width: 100%;
    object-fit: contain;
  }
  .adv__img--active {
    display: block;
    transition: all 600ms cubic-bezier(0.68, 0.11, 0.66, 0.27);

  }
  .adv__item__wrap{
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px){
  thead th:first-child{
    position: sticky;
    left: 0;
  }
  thead th:nth-child(n+2) {
    overflow-x: scroll;
  }
  tbody td:first-child{
    position: sticky;
    left: 0;
  }
  tbody td:nth-child(n+2){
    overflow-x: scroll;
  }
  .adv ol li p:first-child, .adv ol li::marker{
    font-size: 14px;
    line-height: 100%;
  }
  .adv h1 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .adv__item__wrap{
    margin-top: 15px;
  }
  .adv ol li>p:nth-child(n+2){
    margin-left: -15px;
  }
  .adv ol li{
    margin-left: 15px;
  }
  table {
    display: block;
    overflow: scroll;
  }
  tr:nth-child(2n) td {
    background:  #F0F6FC;
  }
  tr:nth-child(2n-1) th {
    background: $green;
  }

  tr:nth-child(2n-1) td {
    background: #fff;
  }
  tbody td:first-child{
    width: 40%;
  }
  .adv__item__wrap{
    margin-left: -15px;
  }
  thead tr th:first-child div, td:first-child div{
    padding: 7px;
  }
  .adv__item__wrap>div{
    row-gap: 20px;
    position: relative;
  }
  td:first-child div:after{
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0,.25);
    width: 2px;
    height: 100%;
    position: absolute;
    content: "";
   top: 0;
    right: 0;
  }
  thead tr th div{
    min-width: 70px;
  }


}
