.companies__header__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.list-select {
  font-size: 14px;
  line-height: 16px;

  label {
    line-height: 16px;
  }

  select {
    border: none;
    color: $green;
    outline: none;
    font-family: $Mon;
    cursor: pointer;
  }
}

.sidebar__list {
  flex-direction: column;
  min-width: 230px;
  padding: 3px 0;

  li {
    padding: 5px 15px 5px 60px;
    position: relative;
    transition: .2s linear;

    &:hover {
      padding-left: 67px;

      a {
        color: #00b191;
      }

      &:before {
        width: 15px;
      }
    }

    &:before {
      content: " ";
      top: 50%;
      left: 40px;
      position: absolute;
      width: 10px;
      height: 1px;
      background: linear-gradient(
          90.09deg, #00b191 .12%, #00cabe 109.78%);
      transition: 0.2s linear;
    }
  }

  a {
    color: rgba(57, 66, 74, .8);
    transition: .2s linear;
  }
}

.sidebar__list .sidebar__ann--active {
  padding-left: 67px;

  a {
    color: #00b191;
  }

  &:before {
    width: 15px;
  }
}


.orgn__item {
  .price {
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      color: #ACACAC;
      font-size: 14px;
      line-height: 18px;

      &:first-child {
        font-size: 14px;
        line-height: 18px;
        color: #E74A5A;
        text-transform: uppercase;

        span {
          font-size: 16px;
          line-height: 18px;
          color: #E74A5A;
          font-family: $MonBold;
        }
      }
    }
  }
}
.filter__header{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  p {
    font-size: 24px;
    color: $green;
    line-height: 26px;
    font-family: $MonBold;
    margin-left: 5px;
  }
}
.filter__item{
  cursor: pointer;
}
.filter__cont{
 overflow: hidden;
  transition: 0.2s linear;
}
.filter__item--active .filter__cont{
  display: block;
}
.filter__label span{
  font-size: 16px;
  line-height: 26px;
  color: #39424A;
  font-family: $MonBold;
}
.filter__list{
  display: grid;
  row-gap: 5px;
  margin-bottom: 20px;
}
.filter__number{
  display: grid;
  grid-template-columns: 3fr 1fr 3fr 1fr;
  column-gap: 12px;
  justify-items: center;
  align-items: center;
  margin-top: 10px;
  input{
    width: 100%;
    padding: 8px;
    font-size: 14px;
    line-height: 20px;
    background: #FFFFFF;
  }
}
.filter__addition-list__trigger button{
color: $green;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  margin-bottom: 13px;
}
.filter__button button{
margin-left: auto;
  margin-right: 0;
}
.sidebar__filter{
  padding-bottom: 20px;
  border-bottom: 1px solid #D2D2D2;
  margin-bottom: 20px;
}

.ann-ad__vip article p:first-child{
  font-family:$Mon;
}
.ann-ad__vip article .comp-ad__vip__desc > p{
  font-family:$MonBold;
}
.ann-ad__vip article .price p{
  color: #e74a5a;
  margin-top: 0;
  margin-bottom: 0;
}
.sidebar__menu .sidebar__item--active ul{
  display: block;
}
@media(max-width: 1199px) {
  .announcement {
    .sideadd {
      display: none;
    }
    .companies__header{
      grid-template-columns: 1fr 1fr;
      padding-bottom: 15px;
    }
    .companies__header__list > a p{
      display: none;
    }
  }
  .list-select {
    align-self: flex-end;
  }
  .announcement__sidebar{
    position: relative;
    .sidebar__sec-header{
     width: max-content;
      padding: 10px 30px;
    }
    .filter__header {
      top: 5px;
      left: 280px;
      position: absolute;
      cursor: pointer;
    }
  }
   .sidebar__menu .sidebar__item--active ul{
    display: block;
  }
  .filter__header p{
    font-size: 18px;
  }
  .filter__form{
    display: none;
    margin-top: 20px;
  }
  .filter__button button{
    padding: 10px 20px;
  }
}
@media(max-width: 767px) {
  .org__item-ned {
    .comp__header {
      flex-direction: column;
    }

    .comp__desc {
      display: none
    }
  }
  .announcement .companies__header{
    grid-template-columns: 1fr;
    row-gap: 0;
  }
  .sidebar__menu{
    row-gap: 5px;
  }
  .announcement__sidebar .sidebar__sec-header{
    padding: 5px 18px;
  }
  .filter__header p {
    font-size: 16px;
  }
  .filter__header svg{
    width: 22px;
    height: 22px;
  }
  .announcement__sidebar .filter__header{
    left: 250px;
  }
  .list-select select{
    font-size: 12px;
  }
  .filter__form{
    margin-top: 11px;
  }
}
@media(max-width: 425px) {
  .announcement__sidebar .filter__header{
  left: auto;
  right: 0;
}
  .announcement .companies__header{
    row-gap: 5px;
  }
}
