.article__wrap{
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 25px;
  padding-bottom: 50px;
}
.add{
  img{
    width: 100%;
  }
}
.article__inf{
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  .comment__date{
    margin-top: 0;
    align-self: center;
  }
}
.article__person{
  display: flex;
  align-items: center;
  p{
    text-align: right;
    margin-right: 10px;
    font-size: 12px;
    line-height: 120%;
  }
}
.article__main{
  h1{
    margin-bottom: 20px;
  }
  > img{
    margin: 15px 0;
    width: 100%;
  }
  > p{
    margin: 8px 0;
    line-height: 18px;
  }
}
.article__sub-header{
  font-size: 18px;
  line-height: 26px;
  color: $Black;
  font-family: $MonBold;
  margin-bottom: 10px;
}
.article__comm{
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 25px;
}
.article__comm__header{
  background: #F8F8F8;
  p{
    display: inline-block;
    background: #FFFFFF;
    padding: 14px 40px;
    font-family: $MonBold;
    color: $green;
    border-top:2px solid $green;
    font-size: 18px;
    line-height: 26px;
  }
}
.article__com__main{
  padding: 25px 43px;
  article:nth-child(n+2){
    margin-top: 25px;
  }
}
.article__pers-h{
  display: flex;
  margin-bottom: 24px;
  img{
    width: 50px;
    margin-right: 19px;
  }
}
.person-name{
  font-size: 16px;
  line-height: 26px;
  color: black;
  font-family: $MonMed;
}
.form__comm{
  > p{
    font-size: 24px;
    line-height: 26px;
    color: $Black;
    font-family: $MonMed;
    margin-bottom: 20px;
  }
  textarea{
    width: 100%;
    height: 210px;
  }
  button{
    margin: 25px auto 0 auto;
    padding: 10px 25px;
    font-size: 16px;
    line-height: 20px;
  }
}
.form__inp{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 11px;
  margin-bottom: 10px;
}
.article{
  .comments__news{
    padding-bottom: 20px;
    border-bottom: 1px solid #D2D2D2;
  }
  .sidebar__menu{
    margin-bottom: 40px;
  }

}
.news__list__wrap--side-bar{
  grid-template-columns: 1fr;
}
.latest-news{
  .comments__header{
    margin-bottom: 25px;
  }
}
@media (max-width: 1199px){
  .article__wrap{
    grid-template-columns: 1fr;
    grid-template-areas: "art-m" "news-sidb";
    padding-top: 15px;

    .news__sidebar{
      grid-template-columns: 1fr;
      column-gap:0;
      margin-bottom: 0;
      margin-top: 30px;
      grid-area: news-sidb;
      >a, .sidebar__menu, .comments__news, .news__sidebar__add{
        display: none;
      }

    }
    .news__list__wrap{
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 0;
    }
    .article__main{
      grid-area: art-m;
    }
  }
  .article__sub-header{
    font-size: 16px;
    line-height: 130%;
  }

  .article .sideadd{
    display: none;
  }
}
@media (max-width: 767px){
  .form__comm div{
    grid-template-columns: 1fr;
    row-gap: 5px;
    margin-bottom: 5px;
  }
  .article__com__main {
    padding: 15px 0px;
  }
  .article__comm{
    border: none;
  }
  .form__comm>p{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .article__pers-h{
    margin-bottom: 15px;
  }
  .article__wrap .news__list__wrap{
    grid-template-columns: 1fr;
  }
  .article__comm__header p{
    display: block;
    font-size: 14px;
    line-height: 130%;
    padding: 10px 14px;
    position: relative;
    &:after{
      content: " ";
      position: absolute;
      top: 50%;
      right: 14px;
      width: 14px;
      height: 2px;
      background: $green;
    }
  }
  .article__sub-header{
    font-size: 14px;
    line-height: 130%;
  }
}
