.footer__wrap{
  position: relative;
  padding: 26px 40px 24px 40px;
  background: $Black;
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 100px;
}
.footer__cont{
  display: grid;
  row-gap: 5px;
  margin-top: 13px;
  margin-bottom: 17px;
  p{
    font-size: 16px;
    color: #FFFFFF;
  }
  img{
    margin-right: 10px;
  }
  a{
    display: flex;
  }
}
.footer__soc{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: start;
  width: min-content;
}
.footer__list{
  display: grid;
  row-gap: 10px;
  align-content: baseline;
  p{
    font-size: 16px;
    color: #FFFFFF;
    font-family: $MonBold;
  }
  li{
    position: relative;
  }
  li a{
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
  }
  li::before{
    content: " ";
    top:50%;
    left: -20px;
    position: absolute;
    width: 10px;
    height: 1px;
    background: $blue;
  }
  ul{
    display: grid;
    row-gap: 5px;
  }
}
.footer__form{
  p{
    background: $blue ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-family: $MonBold;
    margin-bottom: 10px;
  }
input{
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #ACACAC;
  font-family: $MonMed;
  padding: 5px 0;
  margin-bottom: 15px;
  min-width: 250px;
}
  input::placeholder{
    color: #FFFFFF;
    opacity: 0.8;
  }
}
.footer__form{
  max-width: 270px;
}
.button__footer{
  display: none;
}
@media (max-width: 1439px){
  .footer__wrap{
    column-gap: 65px;
  }
}
@media (max-width: 1199px){
  .footer__form{
    display: none;
  }
  .footer__wrap{
    grid-template-columns: repeat(4,auto);

  }
}
@media (max-width: 1023px){
  .footer__list--menu ul{
    display: none;
  }
  .footer__wrap{
    padding: 25px 20px;
    column-gap: 48px;
  }
  .footer__list p{
    font-size: 14px;
  }
}
@media (max-width: 767px){
  .footer__list{
    display: none;
  }
  .footer__item > a{
    display: none;
  }
  .button__footer{
    display: flex;
    padding: 10px 25px;
    cursor: pointer;
    p{
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      font-family: $MonBold;
      margin-right: 10px;
    }
  }
  .footer__wrap{
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .footer__item{
    display: grid;
    justify-items: center;
  }
  .footer__cont p {
    font-size: 14px;
  }
}
.footer__list p:hover{
  opacity: .6;
  transition: 0.2s;
}
.footer__list li:hover a{
  opacity: 1;
  transition: 0.2s;
}
.footer__cont p:hover{
  opacity: .6;
}
.footer__soc > a > img:hover{
  transition: .2s linear;
  transform: translateY(-2px) scale(1.1);
}