.nav__list{
  display: flex;
  background: #00B79C;
  padding: 11px 30px;
  position: relative;
  border-bottom-right-radius: 30px;
  margin-right: 30px;
  img{
    width: initial;
    margin-right: 5px;
  }
  p{
    line-height: 17px;
    color: #FFFFFF;
  }
  li{
    padding: 0 10px;
  }
  a{
    display: flex;
  }

}

.main-header__nav {
  max-width: 810px;
}
.nav__list::after{
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #00B79C transparent;
  display: block;
  width: 0;
  right: -23px;
  top: 0;
  border-width: 35px 36px 0 0;
}
.main-header__wrapper{
  display: grid;
  grid-template-columns: 800px auto;
  background: #fff;
  padding-right: 41px;
  grid-gap: 3%;
  padding-bottom: 20px;
}
.weather{
  width: initial;
}
.currency, .weather{
  margin-top: 21px;
  width: 85px;
  padding: 0 10px;
}

.search{
  padding: 14px 7px 0 0;
  border-bottom: 1px solid $Black;
width: 300px;
  input{
    border: none;
    outline: none;
    font-family: $Mon;
    color: $Black;
    font-size: 14px;
    line-height: 17px;
    padding: 0 7px 7px 7px;
    min-width: 270px;
    background: #FFFFFF;
  }
  button{
    width: 15px;
    border: none;
    background: transparent;
    outline: none;
  }
}
.header__block{
  display: grid;
  grid-template-columns: 300px 74px 70px;
  justify-content: space-between;
}
.header__add{
  display: grid;
  grid-template-columns: repeat(8, 1fr) 2fr;
  padding: 0 30px 20px 30px;
  background: #FFFFFF;
  column-gap: 9px;
  img{
    width: 100%;
    object-fit: cover;
  }
}
.header__nav{
  background: #FFFFFF;
  padding: 4px 40px;
  border-top: 1px solid rgba(172, 172, 172, 0.5);
  border-bottom: 1px solid rgba(172, 172, 172, 0.5);
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  ul{
    display: flex;
  }
  li p, li a {
    display: flex;
    font-size: 14px;
    line-height: 20px;
    font-family: $MonMed;
    color: $Black;
    position: relative;
    img {
      margin-right: 6px;
    }
  }
  li{
      padding: 21px 12px;
    }
  .drop__item{
    margin-right: 10px;
    display: flex;
  }
}
.header__enter{
  display: flex;
}
.header__add-item{
  box-shadow: 0px 2px 7px rgba(36, 186, 177, 0.45);
  margin-right: 9px;
  font-size: 16px;
  p{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
    font-family: $MonBold;
  }
  img{
    margin-left: 10px;
  }
}
.drop__item >  div:first-child{
  display: flex;
}
.header__entry{
  font-size: 14px;
  line-height: 20px;
  font-family: $MonMed;
  color: $green;
  padding: 11px 18px;
  border: 1px solid $green;
  box-sizing: border-box;
  border-radius: 5px;
}
.drop__menu{
  display: none;
  position: absolute;
  top: 65px;
  background: #FFFFFF;
  z-index: 15;
  left: 0;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(157, 157, 157, 0.29);
}

.drop__menu__wrap{
  margin: 0 auto;
  display: flex;
  max-width: 1000px;
  padding: 45px 0 35px 0;
  ul{
    display: flex;
    align-items: start;
    flex-direction: column;
    max-height: 480px;
    flex-wrap: wrap;
  }
  li{
    padding: 0;
    max-width: 290px;
  }
  p{
    transition: .3s linear;
  }
  li:hover p{
    color: #00B191;
    transition: .2s linear;
  }

}
.header__nav .header__orgn > a {
  font-size: 18px;
  font-family: $MonBold;
  margin-bottom: 20px;
}
.header__orgn {
  padding-left: 33px;
  border-left: 1px solid #ACACAC;
  padding-bottom: 5px;
  min-width: 380px;
  p {
    font-size: 14px;

  }
  img{
    margin-right: 10px;
  }
  li a{
    align-items: center;
  }
  li{
    margin-bottom: 10px;
    padding-right: 10px;
  }
}
.mobile-search{
  display: none;
}
.drop {
  padding-right: 24px;
  background: url(../img/svg/arrow.svg) right 52% no-repeat;
}
.burger-shadow{
  background: rgba(0, 0, 0, 0.55);
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 11;
  display: none;
}
.main-header{
  z-index: 30;
}
.header__sticky{
  position: sticky;
  top: 0;
  z-index: 100;
}
.drop__menu--sec{
  width: auto;
top: 63px;
  left: -20px;
}

.drop__item:last-child{
  position: relative;
}
.drop__menu--sec li:before{
  content: " ";
  top: 50%;
  left: 17px;
  position: absolute;
  width: 10px;
  height: 1px;
  background: linear-gradient(
      90.09deg
    ,#00b191 .12%,#00cabe 109.78%);
  transition: 0.2s linear;
}
.header__links{

  a, span{
    font-family: $MonMed;
    color: $green;
  }
}
.main-header__burger{
  display: none;
}
@media (min-width: 1200px){
  .drop__item:hover{
    .drop__menu{
      display: block;
    }
  }
  .drop__menu--sec ul{
    flex-direction: column;
    min-width: 230px;
    padding: 3px 0 15px 0;
  }
  .drop__menu--sec li{
    padding: 5px 15px;
    padding-left: 30px;
    position: relative;
    transition: 0.2s linear;
  }
  .drop__menu--sec li:hover{
    padding-left: 37px;
  }
  .drop__menu--sec li:hover a{
    color: $green;
  }
  .drop__menu--sec li:hover:before{
    width: 15px;
  }

  .drop__menu--sec li a{
    color: rgba(57, 66, 74, 0.8);
    transition: 0.2s linear;
  }
}
@media (max-width: 1439px){
  .main-header__nav {
    max-width: 785px;
  }
  .nav__list::after{
    right: -15px;
    border-width: 28px 21px 0 0;
  }
  .search input{
    min-width: 190px;
  }
  .search{
    width: 220px;
  }
  .header__block{
    grid-template-columns: 220px 70px 70px;
  }
  .main-header__wrapper{
    grid-template-columns: 790px auto;
    grid-gap: 1%;
    padding-right: 26px;
  }
  .header__add{
    padding: 0 28px 20px;
    grid-template-columns: repeat(7,1fr) 2fr;
  }
  .brg__image{
    display: none;
  }
  .header__add-item p{
    display: none;
  }
  .header__add-item img{
    margin-left: 0;
  }
  .header__logo{
    max-height: 34px;
  }
  .header__nav{
    padding: 5px 28px;
  }
  .header__add a:first-child{
    display: none;
  }
}

@media (max-width: 1199px){
  .header__nav nav{
    display: none;
  }
  .search{
    display: none;
  }
  .mobile-search{
    display: block;
  }
  .header__block {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .main-header__wrapper{
    grid-gap: 50px;
  }
  .header__add{
    padding: 0 38px 20px 38px;
    grid-template-columns: repeat(6,1fr) 2fr;
  }
  .header__add a:nth-child(2){
    display: none;
  }
  .main-header__burger {
    width: 35px;
    height: 23px;
    display: block;
    border: none;
    background: 0 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    transition: .5s ease-in-out;
    transform: rotate(0);
    align-self: center;
  }
  .main-header__burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color:  #39424A;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0);
    transition: .25s ease-in-out;
  }
  .main-header__burger span:nth-child(2) {
    top: 0;
  }
  .main-header__burger span:nth-child(3) {
    top: 10px;
  }
  .main-header__burger span:nth-child(4) {
    bottom: 0;
  }
  .main-header__burger--active span:nth-child(2) {
    top: 7px;
    transform: rotate(
        135deg
    );
  }
  .main-header__burger--active span:nth-child(3) {
    opacity: 0;
    left: 60px;
  }
  .main-header__burger--active span:nth-child(4) {
    bottom: 12px;
    transform: rotate(
        -135deg
    );
  }
  .header__nav {
    padding: 11px 37px;
  }
  .mobile-search{
    width: 30%;
  }
  .search input{
    min-width: 93%;
  }
  .header__nav .header-menu--active{
    display: block;
    position: absolute;
    background: #FFFFFF;
    top: 67px;
    z-index: 15;
    right: 0;
    padding: 28px 54px;
    min-width: 305px;
  }
  .nav__menu{
    flex-direction: column;
  }
  .header__nav .drop__item {
    width: min-content;
    flex-direction: column;
  }
  .header__nav li{
    padding: 7px 0;
  }
  .drop__menu__wrap ul{
    display: none;
  }
  .drop__menu{
    position: relative;
    top: 0;
    box-shadow: none;
  }
  .drop__menu__wrap{
    flex-direction: column;
    padding: 0;
    margin-top: 5px;
  }
  .header__orgn{
    min-width: auto;
    border-left: none;
    position: relative;
    padding-bottom: 0;
    padding-left: 15px;
  }
  .header__nav .header__orgn>a{
    font-family: $Mon;
    font-size: 14px;
    color: $gray;
    margin: 5px 0;
  }
  .header__orgn:before{
    content: " ";
    top: 50%;
    left: 0px;
    position: absolute;
    width: 10px;
    height: 1px;
    background: linear-gradient(
        90.09deg
      ,#00b191 .12%,#00cabe 109.78%);
  }
  .drop__menu--sec ul{
    flex-direction: column;
  }
  .drop__menu--sec li a{
    font-family: $Mon;
    color: #6a6a6a;
  }
  .drop__menu--sec li{
    position: relative;
    padding-left: 15px;
  }
  .drop__menu--sec li:before{
    left: 0;
  }
  .drop__menu--sec{
    left: 0;
  }
  .drop__item{
    cursor: pointer;
  }
}

@media (max-width: 1023px){
  .nav__list p{
    font-size: 12px;
    line-height: 16px;
    width: max-content;
  }
  .header__add {
    padding: 0 20px 20px;
    grid-template-columns: repeat(5,1fr) 2fr;
  }
  .header__add a:nth-child(3){
    display: none;
  }
  .nav__list{
    padding: 11px 20px;
    margin-right: 35px;
  }
  .main-header__wrapper{
    grid-template-columns: 675px auto;
    grid-gap: initial;
    padding-right: 15px;
  }
  .header__block{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
  }
  .currency, .weather{
    margin-top: 3px;
  }
  .search input {
    min-width: 90%;
  }
  .header__nav {
    padding: 11px 20px;
  }

}
@media (max-width: 767px){

  .main-header{
    margin-top: 80px;
  }
  .header__sticky{
    position: fixed;
    width: 100%;
  }
  .header__nav{
    border-top: none;
    border-bottom: none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  }

  .header__add {
    padding: 0 13px 20px;
    grid-template-columns: repeat(4,1fr) 2fr;
  }
  .header__add a:nth-child(4){
    display: none;
  }
  .mobile-search{
    display: none;
  }
  .header__nav > a{
    flex-basis: 60%;
  }
  .header__add-item{
    margin-right: 10px;
  }
  .main-header__burger{
    margin-left: 10px;
  }
  .button{
    padding: 7px;
  }
  .header__entry{
    font-size: 12px;
    padding: 7px 14px;
  }
  .header__nav {
    padding: 11px 13px;
  }
  .header__logo {
    max-height: 28px;
  }
.header__block > div, .header__block >img{
  display: none;
}

  .header__add a:nth-child(5){
    display: none;
  }
  .header__add{
    grid-template-columns: repeat(3,1fr) 2fr;
  }
  .news__wrap{
    grid-template-columns: 1fr;
  }
  .st__desc article:nth-child(n+2){
    display: none;
  }
  .news__comments{
    margin-top: 15px;
  }
  .news__comments .st__comments {
    display: grid;
    border-left: none;
    padding-left: 0;
    margin-top: 30px;
  }
  .header__nav .header-menu--active{
    top: 170px;
    width: 100%;
    height: 100vh;
  }
  .mask {
    z-index: 35;
  display: none;
  }
  .header__enter{
    display: none;
  }
  .main-header__wrapper{
    display: none;
  }
  .main-header__wrapper--active{
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 0;
    position: fixed;
    z-index: 20;
    top: 50px;
width: 100%;
    .search{
      display: block;
      position: absolute;
      top: 70px;
      z-index: 20;
      width: 100%;
      background: #FFFFFF;
      border-bottom: none;
      padding: 0;
      input{
        padding: 10px;
      }
      img{
        width: 18px;
      }
    }
  }
  .search__wrapp{
    border-bottom: 1px solid #ACACAC;
    margin: 10px 19px;
    display: flex;
  }
  .nav__list{
    flex-wrap: wrap;
    border-bottom-right-radius: 0;
    margin-right: 0;
padding: 13px;
    li{
      padding: 8px;
    }
  }
  .nav__list::after{
    content: none;
  }
}
@media (max-width: 607px){
  .header__nav .header-menu--active{
    top: 200px;
    width: 100%;
    height: 100vh;
  }
  .main-header__wrapper--active .search{
    top: 100px;
  }
}
@media (max-width: 400px){
  .header__add a:nth-child(6){
    display: none;
  }

  .header__add{
    grid-template-columns: repeat(2,1fr) 2fr;
  }
}
