.performer {
  .product_address {
    padding: 0;

    &:before {
      left: 73px;
    }
  }
}

.product_address {
  span {
    font-family: $Mon;
    font-size: 14px;
    line-height: 18px;
    color: #00B79C;
    padding-right: 37px;
  }
}

.product-services {
  margin-bottom: 20px;

  p {
    font-family: $MonBold;
    font-size: 16px;
    line-height: 18px;
    color: #6A6A6A;
  }

  a {
    font-family: $Mon;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #00B79C;
    padding-left: 19px;

  }
}

.product-services__top {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 15px;
  margin-bottom: 8px;

  li {
    font-family: $Mon;
    font-size: 14px;
    line-height: 18px;
    color: #6A6A6A;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}


.performer--contact {
  .product-clock {
    margin-bottom: 15px;
  }

  .product-trigger {
    margin-top: 15px;
  }

  .product-contact-main {
    li {
      margin-bottom: 10px;
      margin-top: 0px;
    }
  }
}

.product-social__wrapper {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}
.product-contact-main li:hover a{
  p{
    color: #00B79C;
    transition: .2s linear;
  }
  svg{
    path{
      fill: #00B79C;
      transition: .2s linear;
    }
  }
} 
.product_address{
  margin-bottom: 13px;
}
@media (min-width: 767.9px) and (max-width: 1199.9px) {
  .product_address{
    margin-bottom: 13px;
  }  
  .adv__img--active{
    margin-bottom: 15px;  
  }
}
@media (max-width: 450px) {
  .product-trigger {
    display: flex;
    gap: 7px;    
    flex-direction: column;
  }
  .product-social__wrapper {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    justify-content: space-around;
  }
}
@media (max-width: 450px){
  .adv__item__wrap{
    >div{
      >table:nth-child(1){
        thead tr img {
          margin-right: 4px;
        }
        thead tr th:last-child div {
          padding-right: 14px;
        }
        td:last-child div, thead tr th:last-child div {
          padding-right: 14px;
      }
      }
    }
  }
}
