
@media(max-width:767px){
    .news_sidebar{
        order: 2;
    }

    .article__maim{
        order: 1;
    }

    .article__wrap{
        grid-template-columns: 1fr;
    }

    .sight{
        .sight__header{
            padding:0;
           .companies__header--orgn{
               display: none;
           }
        }
        .st__comments {
            .comments__news{
                display: none;
            }
        }

    }
}

.sight__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sight__header {
    img{
        margin-right: 10px;
    }
}

.companies__header--orgn{
    display: flex;
    a{
        display: flex;
        align-items: flex-end;
    }
}
.companies__header--orgn a{
    svg{
        margin-right: 10px;
    }
  }

/////hover


.companies__header--orgn:hover a{
    svg{
        path{
            fill: #00b79c;
            transition: 0.2s;
        }
    }
    p{
      color: #00b79c;
      transition: 0.2s;
    }
  }
  @media (max-width: 1199px){
    .news__sidebar>a {
        grid-area: news__link;
        align-self: start;
        padding-left: 34px;
        text-align: left;
}
.news__sidebar{
    margin-top: 20px;
}
    .sight .comments__news{
      display: none;
    }
    .sight .sideadd{
      grid-area: news__comm;
    }
    .sight .news__sidebar{
      grid-template-rows: auto 1fr;
    }

}
.product-tabs__header--active svg path{
    fill: #00b79c;
}
@media (max-width: 767px){
  .sight .news__sidebar{
    grid-template-areas:
      "news__link"
      "news__menu"
  "news__comm";
  }
  .sideadd{
    margin-top: 10px;
    margin-bottom: 0;
  }
  .news__sidebar{
    margin-top: 0;
  }
}
