<header class="main-header">
  <div class="main-container">
    <div class="container">
      <section class="main-header__wrapper">
    <nav class="main-header__nav">
      <ul class="nav__list">
        <li>
          <a href="">
            <img src="assets/img/svg/Train.svg">
            <p>Вкусно поесть</p>
          </a>
        </li>
        <li>
        <a href="">
          <img src="assets/img/svg/cart.svg">
          <p>Магазины</p>
        </a>
      </li>
        <li>
          <a href="">
            <img src="assets/img/svg/taxi.svg">
            <p>Такси</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="assets/img/svg/parasol.svg">
            <p>Отдых</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="assets/img/svg/list.svg">
            <p>Услуги</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="assets/img/svg/sail.svg">
            <p>Черная пятница</p>
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__block">
    <form class="search">
      <div class="search__wrapp">
      <input type="search" placeholder="Поиск">
      <button type="submit">
        <img src="assets/img/svg/search.svg" alt="search">
      </button>
      </div>
    </form>
    <img src="assets/img/svg/weather.svg " class="weather">
    <div class="currency">
      <p>$2.5932</p>
    </div>
    </div>
  </section>
      <section class="header__add">
        <a href=""> <img src="assets/img/add/a1.png"></a>
        <a href=""> <img src="assets/img/add/a2.png"></a>
        <a href=""> <img src="assets/img/add/a3.png"></a>
        <a href=""> <img src="assets/img/add/a4.png"></a>
        <a href=""> <img src="assets/img/add/a5.png"></a>
        <a href=""> <img src="assets/img/add/a6.png"></a>
        <a href=""> <img src="assets/img/add/a7.png"></a>
        <a href=""> <img src="assets/img/add/a8.png"></a>
        <a href=""> <img src="assets/img/add/a9.png"></a>
      </section>

    </div>
  </div>

</header>
<nav class="header__sticky">
  <div class="main-container">
    <div class="container">
  <section class="header__nav">
    <a href=""><img src="assets/img/svg/logo.svg" alt="Светлогорский бизнес" class="header__logo"></a>
    <nav>
      <ul class="nav__menu">
        <li class="drop__item">
          <div>
            <p><img src="assets/img/svg/menu.svg" class="brg__image">Каталог</p>
            <span class="drop"></span>
          </div>
          <div class="drop__menu">
            <div class="drop__menu__wrap">
              <div class="header__orgn">
                <a href="">Организации</a>
                <ul>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/d1.svg" alt="Авто">
                      <p>Авто</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/d2.svg" alt="Еда">
                      <p>Еда</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/d3.svg" alt="Образование">
                      <p>Образование</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/d4.svg" alt="Зоомир">
                      <p>Зоомир</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/d5.svg" alt="Магазины">
                      <p>Магазины</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/d6.svg" alt="Красота и здоровье">
                      <p>Красота и здоровье</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/d7.svg" alt="Отдых">
                      <p>Отдых</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/d8.svg" alt="Сад и огород">
                      <p>Сад и огород</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/d9.svg" alt="Спорт">
                      <p>Спорт</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/d10.svg" alt="Стройка и ремонт">
                      <p>Стройка и ремонт</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/d11.svg" alt="Учреждения">
                      <p>Учреждения</p>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="header__orgn">
                <a href="">Услуги</a>
                <ul>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t1.svg" alt="Авто и мото">
                      <p>Авто и мото</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t2.svg" alt="Аудит, бухгалтерские и юридические услуги">
                      <p>Аудит, бухгалтерские и юридические услуги</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t3.svg" alt="Все для дома участка">
                      <p>Все для дома участка</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t4.svg" alt="Дизайн и полиграфия">
                      <p>Дизайн и полиграфия</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t5.svg" alt="Доставка, перевозка">
                      <p>Доставка, перевозка</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t6.svg" alt="Компьютерная помощь">
                      <p>Компьютерная помощь</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t7.svg" alt="Красота, стиль, здоровье">
                      <p>Красота, стиль, здоровье</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t8.svg" alt="Образование, репетиторы">
                      <p>Образование, репетиторы</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t9.svg" alt="Организация торжеств">
                      <p>Организация торжеств</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t10.svg" alt="Ремонт техники и инструмента">
                      <p>Ремонт техники и инструмента</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t11.svg" alt="Ритуальные услуги">
                      <p>Ритуальные услуги</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t12.svg" alt="Спорт, отдых, туризм">
                      <p>Спорт, отдых, туризм</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t13.svg" alt="Строительные работы">
                      <p>Строительные работы</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t14.svg" alt="Уборка">
                      <p>Уборка</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t15.svg" alt="Услуги для животных">
                      <p>Услуги для животных</p>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="assets/img/orgn/t16.svg" alt="Фото- и видеоуслуги">
                      <p>Фото- и видеоуслуги</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="">Объявления</a>
        </li>
        <li>
          <a href="">Новости</a>
        </li>
        <li>
          <a href="">Реклама</a>
        </li>
        <li>
          <a href="">О нас</a>
        </li>
        <li class="drop__item">
          <div>
            <p>Путеводитель</p>
            <span class="drop"></span>
          </div>
          <div class="drop__menu drop__menu--sec">
              <ul>
                <li>
                  <a href="">Афиша мероприятий</a>
                </li>
                <li>
                  <a href="">Достопримечательности</a>
                </li>
                <li>
                  <a href="">Расписание транспорта</a>
                </li>
              </ul>
          </div>
        </li>
      </ul>
    </nav>
    <div class="header__links">
      <a href="">Недвижимость</a>
      <span>|</span>
      <a href="">Работа</a>
    </div>
    <form class="search mobile-search">
      <input type="search" placeholder="Поиск">
      <button type="submit">
        <img src="assets/img/svg/search.svg" alt="search">
      </button>
    </form>
    <div class="header__enter">
      <a href="" class="button header__add-item"><p>Добавить</p><img src="assets/img/svg/enter.svg"></a>
      <a href="" class="header__entry">Вход</a>
    </div>
    <button class="main-header__burger" type="button">
      <span class="visually-hidden">Бургер меню</span>
      <span></span><span></span><span></span>
    </button>
  </section>
    </div>
  </div>
</nav>
