<!---MODAL ADD---->

<div class="modal add">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <span class="modal__close add__close"></span>
      <p class="modal__title">Что Вы хотите разместить?</p>
        <div class="add__list">
          <fieldset class="add__list-card">
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">Объявление</span>
            </label>
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">Вакансию (требуется на работу)</span>
            </label>
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">Резюме (ищу работу)</span>
            </label>
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">Заказ на услугу</span>
            </label>
          </fieldset>
          <fieldset class="add__list-card">
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">Новость</span>
            </label>
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">Афишу</span>
            </label>
          </fieldset>
          <fieldset class="add__list-card">
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">В каталог «Организации» (ИП, Организацию)</span>
            </label>
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">В каталог «Услуги» (Организацию, ИП, физлицо)</span>
            </label>
          </fieldset>
        </div>
        
        <div class="modal__button">
          <button class="add__btn button">Далее<span><img src="assets/img/svg/arrow-white.svg"></span></button>
        </div>
    </div>
  </div>
</div>

<!---MODAL ADD end---->


<!---MODAL ENTER---->

<div class="modal enter">
<div class="modal__wrapper">
  <div class="modal__inner">
    <span class="modal__close enter__close"></span>
    <p class="modal__title">Вход</p>

    <div class="enter__content">
      <fieldset>
        <legend>Логин</legend>
        <input type="text" name="user" placeholder="Введите логин" required>
      </fieldset>
      <fieldset>
        <legend>Пароль</legend>
        <input type="password" name="password" placeholder="&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;" required>
      </fieldset>
      <div class="modal__links">
        <a class="modal__link-fotgot" href="#">Забыли пароль?</a>
        <a class="modal__link-registration" href="#">Зарегистрироваться</a>
      </div>
    </div>
      
    <div class="checkbox-button">
      <label>
        <input class="checkbox-button__real" type="checkbox" name="remember" value="remember">
        <span class="checkbox-button__custom"></span>
        <span class="checkbox-button__choice">Запомнить меня</span>
      </label>
    </div>

      <div class="modal__button">
        <button class="add__btn button">Далее<span><img src="assets/img/svg/arrow-white.svg"></span></button>
      </div>
  </div>
</div>
</div>

<!---MODAL ENTER end---->


<!---MODAL REGISTRATION---->

<div class="modal registration">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <span class="modal__close registration__close"></span>
      <p class="modal__title">Регистрация</p>
  
      <div class="registration__content">
        <fieldset>
          <legend>Логин*</legend>
          <input type="text" name="user" placeholder="Введите логин" required>
        </fieldset>
        <fieldset>
          <legend>Адрес электронной почты*</legend>
          <input type="email" name="email" placeholder="e-mail" required>
        </fieldset>
        <fieldset>
          <legend>Пароль*</legend>
          <input type="password" name="password" placeholder="&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;" required>
        </fieldset>
        <fieldset>
          <legend>Повторить пароль*</legend>
          <input type="password" name="password" placeholder="&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;" required>
        </fieldset>
      </div>
        
      <div class="checkbox-button">
        <label>
          <input class="checkbox-button__real" type="checkbox" name="remember" value="remember">
          <span class="checkbox-button__custom"></span>
          <span class="checkbox-button__choice">Запомнить меня</span>
        </label>
        <label>
          <input class="checkbox-button__real" type="checkbox" name="agree" value="agree">
          <span class="checkbox-button__custom"></span>
          <span class="checkbox-button__choice">Согласен с условиями <a class="checkbox-button__choice-link">Пользовательского соглашения</a></span>
        </label>
      </div>
  
        <div class="modal__button">
          <button class="button">Зарегистрироваться</button>
          <button class="header__entry">Отмена</button>
        </div>
    </div>
  </div>
  </div>
  
<!---MODAL REGISTRATION end---->

<!---MODAL CHECK---->

<div class="modal check">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Проверьте Ваш почтовый ящик!</p>

      <p class="check__message">
        На адрес Вашей электронной почты выслано письмо. Для подтверждения регистрации перейдите по указанной в нем ссылке
      </p>
        
    </div>
  </div>
  </div>
  
<!---MODAL CHECK end---->

<!---MODAL RECOVERY---->

<div class="modal recovery">
  <div class="modal__wrapper">
    <div class="recovery__inner">
      <span class="modal__close recovery__close"></span>
      <p class="modal__title">Восстановление пароля</p>

      <p class="recovery__message">
        Введите адрес почтового ящика, к которому привязан ваш аккаунт. На почту придет письмо для восстановления пароля
      </p>

      <fieldset>
        <legend>E-mail учетной записи</legend>
        <input type="email" name="email" placeholder="e-mail">
      </fieldset>

      <div class="recovery__button">
        <button class="button">Отправить</button>
      </div>

    </div>
  </div>
  </div>
  
<!---MODAL RECOVERY end---->


<!---ADDED NEWS---->

<div class="modal added-news">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно добавили Вашу новость!</p>

      <p class="check__message">
        После проверки модератором она появится на странице “Новости”</p>
    </div>
  </div>
  </div>
  
<!---ADDED NEWS end---->


<!---ADDED A REVIEW---->

<div class="modal added-review">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно добавили Ваш отзыв!</p>

      <p class="check__message">
        После проверки модератором он появится на текущей странице в разделе “Отзывы”</p>
    </div>
  </div>
  </div>
  
<!---ADDED A REVIEW end---->

<!---ADDED A ADVERTISEMENT---->

<div class="modal added-advertisement">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно добавили Ваше объявление!</p>

      <p class="check__message">
        После проверки модератором оно появится в разделе “Объявления”</p>
    </div>
  </div>
  </div>
  
<!---ADDED A ADVERTISEMENT end---->

<!---ADDED A QUESTION---->

<div class="modal added-question">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно отправили Ваш вопрос!</p>

      <p class="check__message">
        После проверки модератором он появится на текущей странице в разделе “Вопросы”</p>
    </div>
  </div>
  </div>
  
<!---ADDED A QUESTION end---->

<!---ADDED A SERVICE-PERFORMERS---->

<div class="modal service-performers">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно добавили Вашу организацию, ИП, физлицо!</p>

      <p class="check__message">
        После проверки модератором она появится на странице “Каталог” в разделе “Услуги” (Исполнители)</p>
    </div>
  </div>
  </div>
  
<!---ADDED A SERVICE-PERFORMERS end---->

<!---ADDED A SERVICE-APPLICATIONS---->

<div class="modal service-applications">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно добавили Ваш заказ на услугу!</p>

      <p class="check__message">
        После проверки модератором он появится в разделе “Услуги”  (Заявки)</p>
    </div>
  </div>
  </div>
  
<!---ADDED A SERVICE-APPLICATIONS end---->

<!---ADDED A ADDED-POSTER---->

<div class="modal added-poster">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно добавили Вашу афишу!</p>

      <p class="check__message">
        После проверки модератором она появится на странице  “Афиша мероприятий”</p>
    </div>
  </div>
  </div>
  
<!---ADDED A ADDED-POSTER end---->

<!---ADDED A ADDED-ORGANISATION---->

<div class="modal added-organization">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно добавили Вашу организацию, ИП!</p>

      <p class="check__message">
        После проверки модератором она появится на странице “Каталог” в разделе “Организации”</p>
    </div>
  </div>
  </div>
  
<!---ADDED A ADDED-ORGANISATION end---->



<!---ADDED COMMENT---->

<div class="modal added-review">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно оставили Ваш комментарий!</p>

      <p class="check__message">
        После проверки модератором он появится на текущей странице в разделе “Комментарии”</p>
    </div>
  </div>
  </div>
  
<!---ADDED A COMMENT end---->