<!---MODAL ADD---->

<div class="modal add">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <span class="modal__close add__close"></span>
      <p class="modal__title">Что Вы хотите разместить?</p>
        <div class="add__list">
          <fieldset class="add__list-card">
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">Объявление</span>
            </label>
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">Вакансию (требуется на работу)</span>
            </label>
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">Резюме (ищу работу)</span>
            </label>
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">Заказ на услугу</span>
            </label>
          </fieldset>
          <fieldset class="add__list-card">
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">Новость</span>
            </label>
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">Афишу</span>
            </label>
          </fieldset>
          <fieldset class="add__list-card">
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">В каталог «Организации» (ИП, Организацию)</span>
            </label>
            <label>
              <input class="radio-button__real" type="radio" name="choice" value="Busines">
              <span class="radio-button__custom"></span>
              <span class="radio-button__choice">В каталог «Услуги» (Организацию, ИП, физлицо)</span>
            </label>
          </fieldset>
        </div>
        
        <div class="modal__button">
          <button class="add__btn button">Далее<span><img src="assets/img/svg/arrow-white.svg"></span></button>
        </div>
    </div>
  </div>
</div>

<!---MODAL ADD end---->


<!---MODAL ENTER---->

<div class="modal enter">
<div class="modal__wrapper">
  <div class="modal__inner">
    <span class="modal__close enter__close"></span>
    <p class="modal__title">Вход</p>

    <div class="enter__content">
      <fieldset>
        <legend>Логин</legend>
        <input type="text" name="user" placeholder="Введите логин" required>
      </fieldset>
      <fieldset>
        <legend>Пароль</legend>
        <input type="password" name="password" placeholder="&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;" required>
      </fieldset>
      <div class="modal__links">
        <button class="modal__link-fotgot">Забыли пароль?</button>
        <button class="modal__link-registration">Зарегистрироваться</button>
      </div>
    </div>
      
    <div class="checkbox-button">
      <label>
        <input class="checkbox-button__real" type="checkbox" name="remember" value="remember">
        <span class="checkbox-button__custom"></span>
        <span class="checkbox-button__choice">Запомнить меня</span>
      </label>
    </div>

      <div class="modal__button">
        <button class="add__btn button">Далее<span><img src="assets/img/svg/arrow-white.svg"></span></button>
      </div>
  </div>
</div>
</div>

<!---MODAL ENTER end---->


<!---MODAL REGISTRATION---->

<div class="modal registration">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <span class="modal__close registration__close"></span>
      <p class="modal__title">Регистрация</p>
  
      <div class="registration__content">
        <fieldset>
          <legend>Логин*</legend>
          <input type="text" name="user" placeholder="Введите логин" required>
        </fieldset>
        <fieldset>
          <legend>Адрес электронной почты*</legend>
          <input type="email" name="email" placeholder="e-mail" required>
        </fieldset>
        <fieldset>
          <legend>Пароль*</legend>
          <input type="password" name="password" placeholder="&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;" required>
        </fieldset>
        <fieldset>
          <legend>Повторить пароль*</legend>
          <input type="password" name="password" placeholder="&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;" required>
        </fieldset>
      </div>
        
      <div class="checkbox-button">
        <label>
          <input class="checkbox-button__real" type="checkbox" name="remember" value="remember">
          <span class="checkbox-button__custom"></span>
          <span class="checkbox-button__choice">Запомнить меня</span>
        </label>
        <label>
          <input class="checkbox-button__real" type="checkbox" name="agree" value="agree">
          <span class="checkbox-button__custom"></span>
          <span class="checkbox-button__choice">Согласен с условиями <a class="checkbox-button__choice-link">Пользовательского соглашения</a></span>
        </label>
      </div>
  
        <div class="modal__button">
          <button class="button">Зарегистрироваться</button>
          <button class="header__entry modal__button-cancel">Отмена</button>
        </div>
    </div>
  </div>
  </div>
  
<!---MODAL REGISTRATION end---->

<!---MODAL CHECK---->

<div class="modal check">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Проверьте Ваш почтовый ящик!</p>

      <p class="check__message">
        На адрес Вашей электронной почты выслано письмо. Для подтверждения регистрации перейдите по указанной в нем ссылке
      </p>
        
    </div>
  </div>
  </div>
  
<!---MODAL CHECK end---->

<!---MODAL RECOVERY---->

<div class="modal recovery">
  <div class="modal__wrapper">
    <div class="recovery__inner">
      <span class="modal__close recovery__close"></span>
      <p class="modal__title">Восстановление пароля</p>

      <p class="recovery__message">
        Введите адрес почтового ящика, к которому привязан ваш аккаунт. На почту придет письмо для восстановления пароля
      </p>

      <fieldset>
        <legend>E-mail учетной записи</legend>
        <input type="email" name="email" placeholder="e-mail">
      </fieldset>

      <div class="recovery__button">
        <button class="button">Отправить</button>
      </div>

    </div>
  </div>
  </div>
  
<!---MODAL RECOVERY end---->


<!---ADDED NEWS---->

<div class="modal added-news">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно добавили Вашу новость!</p>

      <p class="check__message">
        После проверки модератором она появится на странице “Новости”</p>
    </div>
  </div>
  </div>
  
<!---ADDED NEWS end---->


<!---ADDED A REVIEW---->

<div class="modal added-review">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно добавили Ваш отзыв!</p>

      <p class="check__message">
        После проверки модератором он появится на текущей странице в разделе “Отзывы”</p>
    </div>
  </div>
  </div>
  
<!---ADDED A REVIEW end---->

<!---ADDED A ADVERTISEMENT---->

<div class="modal added-advertisement">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно добавили Ваше объявление!</p>

      <p class="check__message">
        После проверки модератором оно появится в разделе “Объявления”</p>
    </div>
  </div>
  </div>
  
<!---ADDED A ADVERTISEMENT end---->

<!---ADDED A QUESTION---->

<div class="modal added-question">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно отправили Ваш вопрос!</p>

      <p class="check__message">
        После проверки модератором он появится на текущей странице в разделе “Вопросы”</p>
    </div>
  </div>
  </div>
  
<!---ADDED A QUESTION end---->

<!---ADDED A SERVICE-PERFORMERS---->

<div class="modal service-performers">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно добавили Вашу организацию, ИП, физлицо!</p>

      <p class="check__message">
        После проверки модератором она появится на странице “Каталог” в разделе “Услуги” (Исполнители)</p>
    </div>
  </div>
  </div>
  
<!---ADDED A SERVICE-PERFORMERS end---->

<!---ADDED A SERVICE-APPLICATIONS---->

<div class="modal service-applications">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно добавили Ваш заказ на услугу!</p>

      <p class="check__message">
        После проверки модератором он появится в разделе “Услуги”  (Заявки)</p>
    </div>
  </div>
  </div>
  
<!---ADDED A SERVICE-APPLICATIONS end---->

<!---ADDED A ADDED-POSTER---->

<div class="modal added-poster">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно добавили Вашу афишу!</p>

      <p class="check__message">
        После проверки модератором она появится на странице  “Афиша мероприятий”</p>
    </div>
  </div>
  </div>
  
<!---ADDED A ADDED-POSTER end---->

<!---ADDED A ADDED-ORGANISATION---->

<div class="modal added-organization">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно добавили Вашу организацию, ИП!</p>

      <p class="check__message">
        После проверки модератором она появится на странице “Каталог” в разделе “Организации”</p>
    </div>
  </div>
  </div>
  
<!---ADDED A ADDED-ORGANISATION end---->



<!---ADDED COMMENT---->

<div class="modal added-review">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close check__close"></span>
      <p class="modal__title">Вы успешно оставили Ваш комментарий!</p>

      <p class="check__message">
        После проверки модератором он появится на текущей странице в разделе “Комментарии”</p>
    </div>
  </div>
  </div>
  
<!---ADDED A COMMENT end---->

<!---ТЕЛЕФ. ДЛЯ СВЯЗИ---->

<div class="modal contact-number">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close contact-number__close"></span>
      <p class="modal__title">Телефон для связи</p>
      <div class="contact-number__wrapper">
        <a class="contact-number__item" href="tel:+375448545454">+375 44 854 54 54<div class="contact-number__vb"><img src="assets/img/svg/icon-viber.svg">viber</div></a>
        <a class="contact-number__item" href="tel:+375448545454">+375 44 854 54 54<div><img src="assets/img/svg/icon-telegram.svg">telegram</div></a>
      </div>
      <p class="contact-number__name">Анастасия</p>
    </div>
  </div>
  </div>
  
<!---ТЕЛЕФ. ДЛЯ СВЯЗИ end---->

<!---ПЕРЕЗВОНИТЬ МНЕ---->

<div class="modal call-back">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close call-back__close"></span>
      <p class="modal__title">Спасибо!</p>

      <p class="check__message">
        Наши менеджеры свяжутся с Вами в ближайшее время и ответят на интересующие вопросы</p>
    </div>
  </div>
  </div>

<!---ПЕРЕЗВОНИТЬ МНЕ end---->

<!---ПОЧТА ДЛЯ СВЯЗИ---->

<div class="modal contact-email">
  <div class="modal__wrapper">
    <div class="check__inner">
      <span class="modal__close contact-email__close"></span>
      <p class="modal__title">Электронная почта для связи</p>

      <p class="check__message">
        <a href="mailto:Anastasiya125@mail.ru">Anastasiya125@mail.ru</a>
      </p>
    </div>
  </div>
  </div>

<!---ПОЧТА ДЛЯ СВЯЗИ end---->



<!---УДАЛИТЬ ОБЪЯВЛЕНИЕ---->

<div class="modal delete delete__adv">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <p class="modal__title">Удалить объявление?</p>

      <div class="modal__button">
        <button class="button delete__adv-button">Удалить</button>
        <button class="header__entry delete__adv-cancel">Отмена</button>
      </div>

    </div>
  </div>
  </div>

<!---УДАЛИТЬ ОБЪЯВЛЕНИЕ end---->

<!---УДАЛИЛИ ОБЪЯВЛЕНИЕ---->

<div class="modal deleted deleted__adv">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <span class="modal__close deleted__adv__close"></span>
      <p class="modal__title">Вы успешно удалили Ваше объявление!</p>
    </div>
  </div>
  </div>

<!---УДАЛИЛИ ОБЪЯВЛЕНИЕ end---->

<!---УДАЛИТЬ ОРГАНИЗ/УСЛ---->

<div class="modal delete delete__org">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <p class="modal__title">Удалить организацию/услугу из каталога?   </p>

      <div class="modal__button">
        <button class="button delete__org-button">Удалить</button>
        <button class="header__entry delete__org-cancel">Отмена</button>
      </div>

    </div>
  </div>
  </div>

<!---УДАЛИТЬ ОРГАНИЗ/УСЛ- end---->

<!---УДАЛИЛИ ОРГАНИЗ/УСЛ----->

<div class="modal deleted deleted__org">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <span class="modal__close deleted__org__close"></span>
      <p class="modal__title">Вы успешно удалили Вашу организацию/услугу из каталога!</p>
    </div>
  </div>
  </div>

<!---УДАЛИЛИ ОРГАНИЗ/УСЛ- end---->


<!---УДАЛИТЬ ИЗ ВКЛАДКИ ИЗБР---->

<div class="modal delete delete__tab">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <p class="modal__title">Удалить из вкладки "Избранное"?</p>

      <div class="modal__button">
        <button class="button delete__tab-button">Удалить</button>
        <button class="header__entry delete__tab-cancel">Отмена</button>
      </div>

    </div>
  </div>
  </div>

<!---УДАЛИТЬ ИЗ ВКЛАДКИ ИЗБР- end---->

<!---УДАЛИЛИ ИЗ ВКЛАДКИ ИЗБР----->

<div class="modal deleted deleted__tab">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <span class="modal__close deleted__tab__close"></span>
      <p class="modal__title">Вы успешно удалили из вкладки "Избранное"!</p>
    </div>
  </div>
  </div>

<!---УДАЛИЛИ ИЗ ВКЛАДКИ ИЗБР- end---->


<!---УДАЛИТЬ ЗАЯВКУ НА УСЛУГУ---->

<div class="modal delete delete__application">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <p class="modal__title">Удалить заявку на услугу? </p>

      <div class="modal__button">
        <button class="button delete__application-button">Удалить</button>
        <button class="header__entry delete__application-cancel">Отмена</button>
      </div>

    </div>
  </div>
  </div>

<!---УДАЛИТЬ ЗАЯВКУ НА УСЛУГУ- end---->

<!---УДАЛИЛИ ЗАЯВКУ НА УСЛУГУ----->

<div class="modal deleted deleted__application">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <span class="modal__close deleted__application__close"></span>
      <p class="modal__title">Вы успешно удалили Вашу заявку на услугу!</p>
    </div>
  </div>
  </div>

<!---УДАЛИЛИ ЗАЯВКУ НА УСЛУГУ- end---->

<!---УДАЛИТЬ ВАКАНСИЮ/РЕЗЮМЕ---->

<div class="modal delete delete__application">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <p class="modal__title">Удалить вакансию/резюме?</p>

      <div class="modal__button">
        <button class="button delete__application-button">Удалить</button>
        <button class="header__entry delete__application-cancel">Отмена</button>
      </div>

    </div>
  </div>
  </div>

<!---УДАЛИТЬ ВАКАНСИЮ/РЕЗЮМЕ- end---->

<!---УДАЛИЛИ ВАКАНСИЮ/РЕЗЮМЕ----->

<div class="modal deleted deleted__application">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <span class="modal__close deleted__application__close"></span>
      <p class="modal__title">Вы успешно удалили Вашу вакансию/резюме!</p>
    </div>
  </div>
  </div>

<!---УДАЛИЛИ ВАКАНСИЮ/РЕЗЮМЕ- end---->

<!---УДАЛИТЬ ЗАКАЗАННУЮ УСЛУГУ---->

<div class="modal delete delete__service">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <p class="modal__title">Удалить заказанную услугу?</p>

      <div class="modal__button">
        <button class="button delete__service-button">Удалить</button>
        <button class="header__entry delete__service-cancel">Отмена</button>
      </div>

    </div>
  </div>
  </div>

<!---УДАЛИТЬ ЗАКАЗАННУЮ УСЛУГУ- end---->

<!---УДАЛИЛИ ЗАКАЗАННУЮ УСЛУГУ----->

<div class="modal deleted deleted__service">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <span class="modal__close deleted__service__close"></span>
      <p class="modal__title">Вы успешно удалили Вашу заказанную услугу!</p>
    </div>
  </div>
  </div>

<!---УДАЛИЛИ ЗАКАЗАННУЮ УСЛУГУ- end---->


<!---ПОДНЯЛИ ВАКАНСИЮ/РЕЗЮМЕ----->

<div class="modal up up-vacancy">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <span class="modal__close up-vacancy__close"></span>
      <p class="modal__title">Вы успешно подняли Вашу вакансию/резюме!</p>
      <p>Объявление будет перемещено в верх списка</p>

    </div>
  </div>
  </div>

<!---ПОДНЯЛИ ВАКАНСИЮ/РЕЗЮМЕ- end---->

<!---ПОДНЯЛИ ОБЪЯВЛЕНИЕ----->

<div class="modal up up-adv">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <span class="modal__close up-adv__close"></span>
      <p class="modal__title">Вы успешно подняли Ваше объявление!</p>
      <p>Оно будет перемещено в верх списка</p>

    </div>
  </div>
  </div>

<!---ПОДНЯЛИ ОБЪЯВЛЕНИЕ- end---->

<!---ПОДНЯЛИ ЗАЯВКУ НА УСЛУГУ----->

<div class="modal up up-application">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <span class="modal__close up-application__close"></span>
      <p class="modal__title">Вы успешно подняли Вашу заявку на услугу!</p>
      <p>Она будет перемещена в верх списка</p>

    </div>
  </div>
  </div>

<!---ПОДНЯЛИ ЗАЯВКУ НА УСЛУГУ- end---->

<!---ПОДНЯЛИ ОРГАНИЗ/УСЛ----->

<div class="modal up up-org">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <span class="modal__close up-org__close"></span>
      <p class="modal__title">Вы успешно подняли Вашу организацию/услугу!</p>
      <p>Она будет перемещена в верх списка</p>

    </div>
  </div>
  </div>

<!---ПОДНЯЛИ ОРГАНИЗ/УСЛ- end---->


<!---ОБНОВИЛИ ОБЪЯВЛЕНИЕ----->

<div class="modal up updated-adv">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <span class="modal__close updated-adv__close"></span>
      <p class="modal__title">Вы успешно обновили Ваше объявление!</p>
      <p>Правки внесены, объявление будет поднято в верх списка</p>

    </div>
  </div>
  </div>

<!---ОБНОВИЛИ ОБЪЯВЛЕНИЕ- end---->



