<div class="pagination">
  <ul>
    <li>
      <a href="" class="pad__arrow">
        <img src="assets/img/svg/pag-left.svg" />
      </a>
    </li>
    <li class="pag__active">
      <a href="">
        <span>1</span>
      </a>
    </li>
    <li>
      <a href="">
        <span>2</span>
      </a>
    </li>
    <li>
      <a href="">
        <span>3</span>
      </a>
    </li>
    <li>
      <a href="">
        <span>...</span>
      </a>
    </li>
    <li>
      <a href="">
        <span>15</span>
      </a>
    </li>
    <li>
      <a href="" class="pad__arrow">
        <img src="assets/img/svg/pag-right.svg" />
      </a>
    </li>
  </ul>
</div>
