<div class="recommendations">
  <div class="recommendation__wrapp">
    <p class="recommendation-header">Рекомендуем посмотреть</p>
    <div class="orgn__list">
      <article class="orgn__item orgn__vip">
        <a href="">
          <img src="assets/img/orgn-item/r1.png">
          <div class="orgn__desc">
            <div class="orgn__header">
              <img src="assets/img/svg/crown.svg">
              <p>TO-GO Такси 7273</p>
            </div>
            <p>To-Go такси 7273</p>
            <div class="orgn__prop">
              <div class="stars">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-g.svg">
              </div>
              <div class="quantity">
                <img src="assets/img/svg/visibility.svg">
                <p>125</p>
                <img src="assets/img/svg/comment.svg">
                <p>85</p>
              </div>
              <p class="open">
                Открыто
              </p>
            </div>
          </div>
        </a>
      </article>
      <article class="orgn__item orgn__vip">
        <a href="">
          <img src="assets/img/orgn-item/r2.png">
          <div class="orgn__desc">
            <div class="orgn__header">
              <img src="assets/img/svg/crown.svg">
              <p>Деревообработка</p>
            </div>
            <p>Пиломатериалы, дрова колотые, заготовка леса</p>
            <div class="orgn__prop">
              <div class="stars">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-g.svg">
              </div>
              <div class="quantity">
                <img src="assets/img/svg/visibility.svg">
                <p>125</p>
                <img src="assets/img/svg/comment.svg">
                <p>85</p>
              </div>
              <p class="open">
                Открыто
              </p>
            </div>
          </div>
        </a>
      </article>
      <article class="orgn__item orgn__vip">
        <a href="">
          <img src="assets/img/orgn-item/r3.png">
          <div class="orgn__desc">
            <div class="orgn__header">
              <img src="assets/img/svg/crown.svg">
              <p>Деревообработка</p>
            </div>
            <p>Пиломатериалы, дрова колотые, заготовка леса</p>
            <div class="orgn__prop">
              <div class="stars">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-g.svg">
              </div>
              <div class="quantity">
                <img src="assets/img/svg/visibility.svg">
                <p>125</p>
                <img src="assets/img/svg/comment.svg">
                <p>85</p>
              </div>
              <p class="open">
                Открыто
              </p>
            </div>
          </div>
        </a>
      </article>
      <article class="orgn__item orgn__vip">
        <a href="">
          <img src="assets/img/orgn-item/r4.png">
          <div class="orgn__desc">
            <div class="orgn__header">
              <img src="assets/img/svg/crown.svg">
              <p>Бурение скважин (ИП Шафаренко)</p>
            </div>
            <p>Бурение скважин на воду под ключ</p>
            <div class="orgn__prop">
              <div class="stars">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-y.svg">
                <img src="assets/img/svg/star-g.svg">
              </div>
              <div class="quantity">
                <img src="assets/img/svg/visibility.svg">
                <p>125</p>
                <img src="assets/img/svg/comment.svg">
                <p>85</p>
              </div>
              <p class="open">
                Открыто
              </p>
            </div>
          </div>
        </a>
      </article>
    </div>

  </div>
</div>
