<div class="company__content-tabs">

  <ul class="product-tabs__header">

    <li class="product-tabs__header--active">
      <p>Описание</p>
    </li>
    <li>
      <p>Акции</p>
    </li>
    <li>
      <p>Видео</p>
    </li>
    <li>
      <p>Отзывы</p>
    </li>
    <li>
      <p>Вакансии
        <span>3</span></p>
    </li>
<!--    <li>-->
<!--      <p>Все услуги</p>-->
<!--    </li>-->
    <li>
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M23.4375 0C19.8188 0 16.875 2.94375 16.875 6.5625C16.875 9.93 22.14 15.8944 22.74 16.5637C22.9181 16.7606 23.1712 16.875 23.4375 16.875C23.7038 16.875 23.9569 16.7606 24.135 16.5637C24.735 15.8944 30 9.93 30 6.5625C30 2.94375 27.0562 0 23.4375 0ZM23.4375 9.375C21.885 9.375 20.625 8.115 20.625 6.5625C20.625 5.01 21.885 3.75 23.4375 3.75C24.99 3.75 26.25 5.01 26.25 6.5625C26.25 8.115 24.99 9.375 23.4375 9.375Z"
          fill="#ACACAC"/>
        <path
          d="M0.58875 11.0138C0.234375 11.1563 0 11.5013 0 11.8856V29.0625C0 29.3738 0.155625 29.6644 0.4125 29.8387C0.57 29.9437 0.751875 30 0.9375 30C1.05562 30 1.17375 29.9775 1.28625 29.9325L9.375 26.6962V7.5L0.58875 11.0138Z"
          fill="#ACACAC"/>
        <path
          d="M25.53 17.8163C24.9975 18.4088 24.2344 18.75 23.4375 18.75C22.6406 18.75 21.8775 18.4088 21.345 17.8163C21.1537 17.6044 20.9081 17.325 20.625 16.9931V30L29.4113 26.4863C29.7675 26.3456 30 25.9988 30 25.6163V11.8331C28.4644 14.4338 26.4113 16.8338 25.53 17.8163Z"
          fill="#ACACAC"/>
        <path
          d="M15.5906 9.23625L11.25 7.5V26.6963L18.75 29.6963V14.64C17.5519 13.0256 16.3012 11.0813 15.5906 9.23625Z"
          fill="#ACACAC"/>
      </svg>

      <p>Мы на карте</p>
    </li>

  </ul>

  <div class="tabs-content">

    <div class="tabs-content--item">
      <div class="product-item__wrapper">
        <p>FOROOM ‒ Центр полезных покупок – бренд сети магазинов посуды и товаров для дома по всей
          Беларуси,
          который вышел на белорусский рынок в 2014 году, но уже завоевал популярность среди покупателей. В
          данный момент марка представлена интернет-магазином foroom.by и универсальными магазинами
          розничной
          торговли с широким ассортиментом продукции лучших мировых производителей по доступным ценам.

          Онлайн-магазин FOROOM ‒ Центр полезных покупок открылся в 2015 году и является на данный момент
          ресурсом с самым широким ассортиментом посуды, товаров для дома, столовых принадлежностей,
          кухонного
          инвентаря, оборудования для ресторанов и магазинов, аксессуаров для праздников и вечеринок в
          Беларуси. На нашем сайте представлена продукция знаменитых европейских и американских брендов с
          мировым именем Pasabahce, Duralex, Bormioli Rocco, Libbey, Lubiana, Eternum, Domo, York, Plastic
          Centre, Amefa, Kutahуa, Amefa, Hendi и многих других, а также товары отечественных производителей
          и
          стран СНГ.

          - FOROOM ‒ Центр полезных покупок – онлайн-магазин, созданный для белорусских потребителей,
          который
          предлагает полезные и нужные товары для дома, призванные помочь справляться с ежедневными
          задачами,
          сопровождать во время отдыха и радовать в праздничные дни.
          - Мы предлагаем товары в разных ценовых категориях, чтобы каждый покупатель вне зависимости от
          статуса и социального положения мог купить все необходимое, выбрав при этом только качественные
          товары.
          - Наша посуда, столовые приборы, аксессуары, бытовые принадлежности, декор призваны приносить в
          ваши
          дома больше уюта, комфорта и красоты, гармонии и спокойствия, именно той атмосферы, в которой
          царит
          уважение и любовь.
          - Мы очень много трудимся над тем, чтобы сделать товары лучших европейских и американских брендов,
          которые получили признание во всем мире, доступной для каждого.
          - Foroom.by – магазин, который с вами всегда: и в будни, и в праздник! Ведь абсолютно неважно, что
          вы делаете: убираете дома, моете посуду, готовите, ухаживаете за растениями, едите самый обычный
          скромный ужин или сервируете стол для шикарного банкета – наши товары помогают вам в этом. И даже
          если то, что вы делаете в этот конкретный момент – это рутинные обязанности, которые доставляют
          мало
          удовольствия, благодаря нашей продукции справляться с ними становится гораздо легче, быстрее и
          приятнее.</p>
      </div>
    </div>
    <div class="tabs-content--item" style="display: none;">
      <div class="product-item__wrapper">
        <article class="product-tabs__stock">
          <div class="product-tabs__stock--wrapper">
            <img src="assets/img/png/stock.png" alt="">
            <div>
              <div class="product-tabs__stock--header">
                <img src="assets/img/svg/sail.svg">
                <p>Актуальные предложения</p>
              </div>
              <p class="stock-desck">С понедельника по четверг закажи 2 пиццы и получи еще 1 в подарок!!!
              </p>
            </div>
          </div>
        </article>
        <article class="product-tabs__stock">
          <div class="product-tabs__stock--wrapper">
            <img src="assets/img/png/stock.png" alt="">
            <div>
              <div class="product-tabs__stock--header">
                <img src="assets/img/svg/sail.svg">
                <p>Актуальные предложения</p>
              </div>
              <p class="stock-desck">С понедельника по четверг закажи 2 пиццы и получи еще 1 в подарок!!!
              </p>
            </div>
          </div>
        </article>
        <article class="product-tabs__stock">
          <div class="product-tabs__stock--wrapper">
            <img src="assets/img/png/stock.png" alt="">
            <div>
              <div class="product-tabs__stock--header">
                <img src="assets/img/svg/sail.svg">
                <p>Актуальные предложения</p>
              </div>
              <p class="stock-desck">С понедельника по четверг закажи 2 пиццы и получи еще 1 в подарок!!!
              </p>
            </div>
          </div>
        </article>
        <article class="product-tabs__stock">
          <div class="product-tabs__stock--wrapper">
            <img src="assets/img/png/stock.png" alt="">
            <div>
              <div class="product-tabs__stock--header">
                <img src="assets/img/svg/sail.svg">
                <p>Актуальные предложения</p>
              </div>
              <p class="stock-desck">С понедельника по четверг закажи 2 пиццы и получи еще 1 в подарок!!!
              </p>
            </div>
          </div>
        </article>
        <article class="product-tabs__stock">
          <div class="product-tabs__stock--wrapper">
            <img src="assets/img/png/stock.png" alt="">
            <div>
              <div class="product-tabs__stock--header">
                <img src="assets/img/svg/sail.svg">
                <p>Актуальные предложения</p>
              </div>
              <p class="stock-desck">С понедельника по четверг закажи 2 пиццы и получи еще 1 в подарок!!!
              </p>
            </div>
          </div>
        </article>
        <article class="product-tabs__stock">
          <div class="product-tabs__stock--wrapper">
            <img src="assets/img/png/stock.png" alt="">
            <div>
              <div class="product-tabs__stock--header">
                <img src="assets/img/svg/sail.svg">
                <p>Актуальные предложения</p>
              </div>
              <p class="stock-desck">С понедельника по четверг закажи 2 пиццы и получи еще 1 в подарок!!!
              </p>
            </div>
          </div>
        </article>
        <article class="product-tabs__stock">
          <div class="product-tabs__stock--wrapper">
            <img src="assets/img/png/stock.png" alt="">
            <div>
              <div class="product-tabs__stock--header">
                <img src="assets/img/svg/sail.svg">
                <p>Актуальные предложения</p>
              </div>
              <p class="stock-desck">С понедельника по четверг закажи 2 пиццы и получи еще 1 в подарок!!!
              </p>
            </div>
          </div>
        </article>

      </div>
    </div>
    <div class="tabs-content--item youTube-tabs" style="display: none;">
      <div class="product-item__wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qaqna87nS-M"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
    <div class="tabs-content--item" style="display: none;">
      <div class="product-item__wrapper">
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
      </div>
    </div>

    <!--
      <div class="tabs-content--item" style="display: none;">
      <div class="product-item__wrapper">
        <article class="orgn__item">
          <a class="custom-vac" href="">
            <img src="assets/img/orgn-item/r2.png">
            <div class="orgn__desc">
              <div class="comp__header">
                <div class="orgn__header">
                  <p>TO-GO Такси 7273</p>
                </div>
                <div class="stars">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-g.svg">
                </div>
              </div>
              <div class="vac-mid">
                <p class="name-place-vac">Магазин “Foroom”</p>
                <p class="vac-price">
                  <span>З.п от</span>
                  170
                  <span>Byn</span>
                </p>
              </div>
              <div class="orgn__prop">
                <div class="place">
                  <img src="assets/img/svg/place.svg">
                  <p>ул. Советская 15</p>
                </div>
                <div class="vac-number">
                  <img src="assets/img/svg/icon-phone.svg" alt="">
                  <p>+375 (44) 794-78-87</p>
                </div>
                <div class="vac-time">
                  <img src="assets/img/svg/icon-clock.svg" alt="">
                  <p>Полный день, 2х2</p>
                </div>
              </div>
            </div>
          </a>
        </article>
      </div>
    </div>
    -->
    <div class="tabs-content--item" style="display: none;">
      <div class="product-item__wrapper">

      </div>
    </div>
    <div class="tabs-content--item" style="display: none;">
      <div class="product-item__wrapper">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4db6057804dbcac3ecae7bdccb31d7eaee0a62d710f2a7e03d30a91d90f91b93&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=true;"></script>
      </div>
    </div>

  </div>
</div>


<div class="company__content-tabs--mob">

  <articel>

    <div class="tabs-header--mob">
      <p>Описание</p>

    </div>
    <div class="tabs-content--mob">
      <div class="tabs-content__wrapper">
        <p>FOROOM ‒ Центр полезных покупок – бренд сети магазинов посуды и товаров для дома по всей
          Беларуси,
          который вышел на белорусский рынок в 2014 году, но уже завоевал популярность среди покупателей. В
          данный момент марка представлена интернет-магазином foroom.by и универсальными магазинами
          розничной
          торговли с широким ассортиментом продукции лучших мировых производителей по доступным ценам.

          Онлайн-магазин FOROOM ‒ Центр полезных покупок открылся в 2015 году и является на данный момент
          ресурсом с самым широким ассортиментом посуды, товаров для дома, столовых принадлежностей,
          кухонного
          инвентаря, оборудования для ресторанов и магазинов, аксессуаров для праздников и вечеринок в
          Беларуси. На нашем сайте представлена продукция знаменитых европейских и американских брендов с
          мировым именем Pasabahce, Duralex, Bormioli Rocco, Libbey, Lubiana, Eternum, Domo, York, Plastic
          Centre, Amefa, Kutahуa, Amefa, Hendi и многих других, а также товары отечественных производителей
          и
          стран СНГ.

          - FOROOM ‒ Центр полезных покупок – онлайн-магазин, созданный для белорусских потребителей,
          который
          предлагает полезные и нужные товары для дома, призванные помочь справляться с ежедневными
          задачами,
          сопровождать во время отдыха и радовать в праздничные дни.
          - Мы предлагаем товары в разных ценовых категориях, чтобы каждый покупатель вне зависимости от
          статуса и социального положения мог купить все необходимое, выбрав при этом только качественные
          товары.
          - Наша посуда, столовые приборы, аксессуары, бытовые принадлежности, декор призваны приносить в
          ваши
          дома больше уюта, комфорта и красоты, гармонии и спокойствия, именно той атмосферы, в которой
          царит
          уважение и любовь.
          - Мы очень много трудимся над тем, чтобы сделать товары лучших европейских и американских брендов,
          которые получили признание во всем мире, доступной для каждого.
          - Foroom.by – магазин, который с вами всегда: и в будни, и в праздник! Ведь абсолютно неважно, что
          вы делаете: убираете дома, моете посуду, готовите, ухаживаете за растениями, едите самый обычный
          скромный ужин или сервируете стол для шикарного банкета – наши товары помогают вам в этом. И даже
          если то, что вы делаете в этот конкретный момент – это рутинные обязанности, которые доставляют
          мало
          удовольствия, благодаря нашей продукции справляться с ними становится гораздо легче, быстрее и
          приятнее.</p>
      </div>
    </div>

  </articel>

  <articel>

    <div class="tabs-header--mob">
      <p>Акции</p>

    </div>

    <div class="tabs-content--mob">
      <div class="tabs-content__wrapper">
        <article class="product-tabs__stock">
          <div class="product-tabs__stock--wrapper">
            <img src="assets/img/png/stock.png" alt="">
            <div>
              <div class="product-tabs__stock--header">
                <img src="assets/img/svg/sail.svg">
                <p>Актуальные предложения</p>
              </div>
              <p class="stock-desck">С понедельника по четверг закажи 2 пиццы и получи еще 1 в подарок!!!
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>

  </articel>

  <articel>

    <div class="tabs-header--mob">
      <p>Видео</p>

    </div>

    <div class="tabs-content--mob youTube-tabs">
      <div class="tabs-content__wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qaqna87nS-M"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>

  </articel>

  <articel>

    <div class="tabs-header--mob">
      <p>Отзывы</p>

    </div>

    <div class="tabs-content--mob">
      <div class="tabs-content__wrapper">
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
        <article>
          <div class="article__pers-h">
            <img src="assets/img/png/girl.png">
            <div>
              <p class="person-name">Анастасия Насытко</p>
              <p class="comment__date">
                10.03.2021
              </p>
            </div>
          </div>
          <p>Подскажити пожалуйста какая марка-производитель?</p>
        </article>
      </div>
    </div>

  </articel>

  <articel>

    <div class="tabs-header--mob">
      <p>Вакансии</p>

    </div>

    <div class="tabs-content--mob">
      <div class="tabs-content__wrapper">
        <article class="orgn__item">
          <div class="custom-vac">
            <img src="assets/img/orgn-item/r2.png">
            <div class="orgn__desc">
              <div class="comp__header">
                <div class="orgn__header">
                  <p>TO-GO Такси 7273</p>
                </div>
                <div class="stars">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-g.svg">
                </div>
              </div>
              <div class="vac-mid">
                <p class="name-place-vac">Магазин “Foroom”</p>
                <p class="vac-price">
                  <span>З.п от</span>
                  170
                  <span>Byn</span>
                </p>
              </div>
              <div class="orgn__prop">
                <div class="place">
                  <img src="assets/img/svg/place.svg">
                  <a href="">ул. Советская 15</a>
                </div>
                <div class="vac-number">
                  <img src="assets/img/svg/icon-phone.svg" alt="">
                  <a href="">+375 (44) 794-78-87</a>
                </div>
                <div class="vac-time">
                  <img src="assets/img/svg/icon-clock.svg" alt="">
                  <p>Полный день, 2х2</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="orgn__item">
          <div class="custom-vac">
            <img src="assets/img/orgn-item/r2.png">
            <div class="orgn__desc">
              <div class="comp__header">
                <div class="orgn__header">
                  <p>TO-GO Такси 7273</p>
                </div>
                <div class="stars">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-g.svg">
                </div>
              </div>
              <div class="vac-mid">
                <p class="name-place-vac">Магазин “Foroom”</p>
                <p class="vac-price">
                  <span>З.п от</span>
                  170
                  <span>Byn</span>
                </p>
              </div>
              <div class="orgn__prop">
                <div class="place">
                  <img src="assets/img/svg/place.svg">
                  <a href="">ул. Советская 15</a>
                </div>
                <div class="vac-number">
                  <img src="assets/img/svg/icon-phone.svg" alt="">
                  <a href="">+375 (44) 794-78-87</a>
                </div>
                <div class="vac-time">
                  <img src="assets/img/svg/icon-clock.svg" alt="">
                  <p>Полный день, 2х2</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="orgn__item">
          <div class="custom-vac">
            <img src="assets/img/orgn-item/r2.png">
            <div class="orgn__desc">
              <div class="comp__header">
                <div class="orgn__header">
                  <p>TO-GO Такси 7273</p>
                </div>
                <div class="stars">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-g.svg">
                </div>
              </div>
              <div class="vac-mid">
                <p class="name-place-vac">Магазин “Foroom”</p>
                <p class="vac-price">
                  <span>З.п от</span>
                  170
                  <span>Byn</span>
                </p>
              </div>
              <div class="orgn__prop">
                <div class="place">
                  <img src="assets/img/svg/place.svg">
                  <a href="">ул. Советская 15</a>
                </div>
                <div class="vac-number">
                  <img src="assets/img/svg/icon-phone.svg" alt="">
                  <a href="">+375 (44) 794-78-87</a>
                </div>
                <div class="vac-time">
                  <img src="assets/img/svg/icon-clock.svg" alt="">
                  <p>Полный день, 2х2</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="orgn__item">
          <div class="custom-vac">
            <img src="assets/img/orgn-item/r2.png">
            <div class="orgn__desc">
              <div class="comp__header">
                <div class="orgn__header">
                  <p>TO-GO Такси 7273</p>
                </div>
                <div class="stars">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-g.svg">
                </div>
              </div>
              <div class="vac-mid">
                <p class="name-place-vac">Магазин “Foroom”</p>
                <p class="vac-price">
                  <span>З.п от</span>
                  170
                  <span>Byn</span>
                </p>
              </div>
              <div class="orgn__prop">
                <div class="place">
                  <img src="assets/img/svg/place.svg">
                  <a href="">ул. Советская 15</a>
                </div>
                <div class="vac-number">
                  <img src="assets/img/svg/icon-phone.svg" alt="">
                  <a href="">+375 (44) 794-78-87</a>
                </div>
                <div class="vac-time">
                  <img src="assets/img/svg/icon-clock.svg" alt="">
                  <p>Полный день, 2х2</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="orgn__item">
          <div class="custom-vac">
            <img src="assets/img/orgn-item/r2.png">
            <div class="orgn__desc">
              <div class="comp__header">
                <div class="orgn__header">
                  <p>TO-GO Такси 7273</p>
                </div>
                <div class="stars">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-g.svg">
                </div>
              </div>
              <div class="vac-mid">
                <p class="name-place-vac">Магазин “Foroom”</p>
                <p class="vac-price">
                  <span>З.п от</span>
                  170
                  <span>Byn</span>
                </p>
              </div>
              <div class="orgn__prop">
                <div class="place">
                  <img src="assets/img/svg/place.svg">
                  <a href="">ул. Советская 15</a>
                </div>
                <div class="vac-number">
                  <img src="assets/img/svg/icon-phone.svg" alt="">
                  <a href="">+375 (44) 794-78-87</a>
                </div>
                <div class="vac-time">
                  <img src="assets/img/svg/icon-clock.svg" alt="">
                  <p>Полный день, 2х2</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="orgn__item">
          <div class="custom-vac">
            <img src="assets/img/orgn-item/r2.png">
            <div class="orgn__desc">
              <div class="comp__header">
                <div class="orgn__header">
                  <p>TO-GO Такси 7273</p>
                </div>
                <div class="stars">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-y.svg">
                  <img src="assets/img/svg/star-g.svg">
                </div>
              </div>
              <div class="vac-mid">
                <p class="name-place-vac">Магазин “Foroom”</p>
                <p class="vac-price">
                  <span>З.п от</span>
                  170
                  <span>Byn</span>
                </p>
              </div>
              <div class="orgn__prop">
                <div class="place">
                  <img src="assets/img/svg/place.svg">
                  <a href="">ул. Советская 15</a>
                </div>
                <div class="vac-number">
                  <img src="assets/img/svg/icon-phone.svg" alt="">
                  <a href="">+375 (44) 794-78-87</a>
                </div>
                <div class="vac-time">
                  <img src="assets/img/svg/icon-clock.svg" alt="">
                  <p>Полный день, 2х2</p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>

  </articel>

  <articel>

    <div class="tabs-header--mob">
      <p>Мы на карте</p>

    </div>

    <div class="tabs-content--mob">
      <div class="tabs-content__wrapper">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4db6057804dbcac3ecae7bdccb31d7eaee0a62d710f2a7e03d30a91d90f91b93&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=true;"></script>

      </div>
    </div>

  </articel>

</div>
